<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/AI_and_ML_ASSIGNMENTS(PANDAS)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create pandas datframe with two dimensional list(python)
import pandas as pd

# list1
lst =[['Geek',25],['is',30],
      ['for',26],['Geeksforgeeks',22]]

# creation df object with columns specified
df = pd.DataFrame(lst,columns = ['Tag','number'])
print(df)

             Tag  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

In [ ]:
# example 2
import pandas as pd
#list
lst = [['tom','reacher',25],['krish','pete',30],
       ['nick','wilson',26],['john','williams',22]]

df = pd.DataFrame(lst,columns =['FName','LName','Age'],
                                        dtype = float)

print(df)

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   john  williams  22.0

<ipython-input-9-c8f08df269a5>:7: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst,columns =['FName','LName','Age'],

In [ ]:
# creating Dataframe from dict of narray/lists
# what is the meaning of ndarray(or lists)? are they same?
#example 1 : we will use pd.DataFrame() function to create the dataframe from the list
import pandas as pd

# intialise data of lists
data = {'category':['Array','Stack','queue'],
        'Marks':[20,21,19]}

# create DataFrame
df = pd.DataFrame(data)

print(df)

  category  Marks
0    Array     20
1    Stack     21
2    queue     19

In [ ]:
# example 2
import pandas as pd

data = {'category':['Array','Stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data)

print(df.transpose())

               0      1      2
category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [ ]:
# using Pandas DataFrame with the index parameter
# example 1:providing index list to dataframe
import pandas as pd

data = {'Area':['Array','stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data,index =['cat_1','cat_2','cat_3'])

print(df)

        Area  Student_1  Student_2
cat_1  Array         20         15
cat_2  stack         21         20
cat_3  Queue         19         14

In [ ]:
# Creating Pandas datframe using list of lists
# example 1
import pandas as pd

data = [['geeks',10],['for',15],['Geeks',20]]

df = pd.DataFrame(data,columns = ['Name','Age'])

print(df)

    Name  Age
0  geeks   10
1    for   15
2  Geeks   20

In [ ]:
# example 2
import pandas as pd

data = [['Ds','Linked_list',10],['DS','Stack',9],['DS','Queue',7],
        ['Algo','Greedy',8],['Algo','DP',6],['Algo','BackTrack',5]]

df = pd.DataFrame(data,columns = ['Category','Name','Marks'])

print(df)

  Category         Name  Marks
0       Ds  Linked_list     10
1       DS        Stack      9
2       DS        Queue      7
3     Algo       Greedy      8
4     Algo           DP      6
5     Algo    BackTrack      5

In [ ]:
# Defining column names using DataFrame.columns() function
import pandas as pd

data = [[1,5,10],[2,6,9],[3,7,8]]
# create the pandas Dataframe
df = pd.DataFrame(data)

# specifying coulmn names
df.coulmns = ['col_1','col_2','col_3']

# print dataframe
print(df,"\n")

df = df.transpose()
print("Transpose of above datframe is-\n",df)

   0  1   2
0  1  5  10
1  2  6   9
2  3  7   8

Transpose of above datframe is-
     0  1  2
0   1  2  3
1   5  6  7
2  10  9  8

<ipython-input-1-e9f36337a05f>:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.coulmns = ['col_1','col_2','col_3']

In [ ]:
# Creating the Pandas DataFrame using the list of tuples
# example 1:we will pass to the dataframe constructor which will return a pandas dataframe
import pandas as pd

# data in the the form of list of tuples
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

# create dataframe using data
df = pd.DataFrame(data,columns = ['Name','Age','Score'])

print(df)

     Name  Age  Score
0   peter   18      7
1  ganesh   34      8
2     are   45      4
3   raghu   23      6
4  shreya   20      3

In [ ]:
# using from_records() method
# example 2 :df.from_records()

import pandas as pd
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

df = pd.DataFrame.from_records(data,columns =['Team','Age','Score'])

print(df)

     Team  Age  Score
0   peter   18      7
1  ganesh   34      8
2     are   45      4
3   raghu   23      6
4  shreya   20      3

In [ ]:
# using df.pivot() function

import pandas as pd
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

df = pd.DataFrame.from_records(data,columns =['Team','Age','Score'])

a = df.pivot('Team','Score','Age')

print(a)

Score      3     4     6     7     8
Team
are      NaN  45.0   NaN   NaN   NaN
ganesh   NaN   NaN   NaN   NaN  34.0
peter    NaN   NaN   NaN  18.0   NaN
raghu    NaN   NaN  23.0   NaN   NaN
shreya  20.0   NaN   NaN   NaN   NaN

<ipython-input-7-26b53fb5e96d>:12: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  a = df.pivot('Team','Score','Age')

In [ ]:
# create pandas dataframe from Lists of Dicts
# Method 1:Convert a list of dictionaries to a pandas Dataframe using from_records()
# from_records() it converts a structured ndarrray,tuple or dictsequence,or Dataframe in to Dataframe object
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.DataFrame.from_records(data,index=['1','2'])
print(df)

      ganesh     is workalcoholic
1  dataframe  using          list
2         20     10            30

In [ ]:
# Method 2:Convert a list of dictionaries to a pandas DataFrame using pd.DataFrame.from_dict()
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.DataFrame.from_dict(data)
print(df)

      ganesh     is workalcoholic
0  dataframe  using          list
1         20     10            30

In [ ]:
# Method 3:  Converts a list of dictionaries to pandas DataFrame using pd.json_normalize
# json_normalize()
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.json_normalize(data)
print(df)

      ganesh     is workalcoholic
0  dataframe  using          list
1         20     10            30

In [ ]:
# method 4: pd.DataFrame()

In [ ]:
# example2:
# creating a dataframe by explicitly providing user defined values for both index and columns
import pandas as pd

data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]
#with two column indices ,values same
# as Dictionary keys
df1 = pd.DataFrame(data,index = ['ind1','ind2'],
                       columns = ['ganesh','is'])

# with two column indices with
# one index with other name
df2 = pd.DataFrame(data,index=['index','indy'])

print(df1,"\n")

print(df2)

         ganesh     is
ind1  dataframe  using
ind2         20     10

          ganesh     is workalcoholic
index  dataframe  using          list
indy          20     10            30

In [ ]:
# convert a list of nested dictionary in to Pandas DataFrame
# step1 :creating a list of nested dictionary
import pandas as pd

# list of nested dictinary intialization
list = [{"student":[{"exam":90,"Grade":"a"},
                    {"exam":90,"Grade":"a"},
                    {"exam":90,"Grade":"a"},
                  ],
         "Name":"paras Jain"
         },
        {"student":[{"exam":89,"Grade":"a"},
                    {"exam":89,"Grade":"a"}
                    ],
         "Name":"chunky pandey"
         }
     ]

print(list)

[{'student': [{'exam': 90, 'Grade': 'a'}, {'exam': 90, 'Grade': 'a'}, {'exam': 90, 'Grade': 'a'}], 'Name': 'paras Jain'}, {'student': [{'exam': 89, 'Grade': 'a'}, {'exam': 89, 'Grade': 'a'}], 'Name': 'chunky pandey'}]

In [ ]:
# step 2:Adding dict values to rows
# rows list intialization
rows = []
# appending rows
for data in list:
  data_row = data['student']
  time = data['Name']

  for row in data_row:
    row['Name'] = time
    rows.append(row)

# using dataframe
df = pd.DataFrame(rows)

print(df)

   exam Grade           Name
0    90     a     paras Jain
1    90     a     paras Jain
2    90     a     paras Jain
3    89     a  chunky pandey
4    89     a  chunky pandey

In [ ]:
# step3 :pivoting DataFrame and assigning column names
df = df.pivot_table(index = 'Name',columns = ['Grade'],
                         values = ['exam']).reset_index()

# defining columns
df.columns =['Name','Maths','Physics','Chemistry']

# print dataframe
print(df.coulmns)

ValueError: ignored

In [ ]:
# convert a list of nested dictionary in to Pandas DataFrame
# step1 :creating a list of nested dictionary
import pandas as pd

# list of nested dictinary intialization
list = [{"student":[{"Exam":90,"Grade":"a"},
                    {"Exam":90,"Grade":"a"},
                    {"Exam":90,"Grade":"a"},
                  ],
         "Name":"paras Jain"
         },
        {"student":[{"Exam":89,"Grade":"a"},
                    {"Exam":89,"Grade":"a"}
                    ],
         "Name":"chunky pandey"
         }
     ]


# step 2:Adding dict values to rows
# rows list intialization
rows = []
# appending rows
for data in list:
  data_row = data['student']
  time = data['Name']

  for row in data_row:
    row['Name'] = time
    rows.append(row)

# using dataframe
df = pd.DataFrame(rows)

# step3 :pivoting DataFrame and assigning column names
df = df.pivot_table(index = 'Name',columns = ['Grade'],
                         values = ['Exam']).reset_index()

# defining columns
df.columns =['Name', 'Maths', 'Physics', 'Chemistry']

# print dataframe
print(df)

ValueError: ignored

In [ ]:
# Replace values in Pandas dataframe using regex
# DataFrame.replace() function
# problem 1 : cities name start with New or new change it to New_
import pandas as pd
#create a dataframe
df = pd.DataFrame({'city':['New York','Parague','New Delhi','Venice','new orleans'],
                   'Event':['Music','poetry','Theatre','Comedy','Tech_summit'],
                   'Cost':[10000,5000,15000,2000,12000]})

# lets create the index
index_ = [pd.Period('02-2018'),pd.Period('04-2018'),
        pd.Period('06-2018'),pd.Period('10-2018'),pd.Period('12-2018')]

#set the indedx
df.index = index_

# print the dataframe
print(df)

                city        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new orleans  Tech_summit  12000

In [ ]:
# Replace the matching strings
df_updated = df.replace(to_replace = '[nN]ew',value = 'New_',regex = True)

print(df_updated)

                 city        Event   Cost
2018-02     New_ York        Music  10000
2018-04       Parague       poetry   5000
2018-06    New_ Delhi      Theatre  15000
2018-10        Venice       Comedy   2000
2018-12  New_ orleans  Tech_summit  12000

In [ ]:
# removing additional details
# DataFrame.apply() to apply our customized function on each values the column
import pandas as pd

df = pd.DataFrame({'city':['New York(city)','Parague','New Delhi(delhi)','Venice','new orleans'],
                   'Event':['Music','poetry','Theatre','Comedy','Tech_summit'],
                   'Cost':[10000,5000,15000,2000,12000]})

#  create the index
index_ = [pd.Period('02-2018'),pd.Period('04-2018'),
        pd.Period('06-2018'),pd.Period('10-2018'),pd.Period('12-2018')]

# set the index
df.index = index_

print(df)

                     city        Event   Cost
2018-02    New York(city)        Music  10000
2018-04           Parague       poetry   5000
2018-06  New Delhi(delhi)      Theatre  15000
2018-10            Venice       Comedy   2000
2018-12       new orleans  Tech_summit  12000

In [ ]:
# importing re package for using regular expression
import re

# functions to clean the names
def Clean_names(city_name):
  # search for opening bracket in the name followed by
  # any characteristics repeated any number of times
  if re.search('\(.*',city_name):

    # extract the position of begining of pattern
     pos = re.search('\(.*',city_name).start()

     # return the cleaned name
     return city_name[:pos]

  else:
  # if clean up needed return the same name
       return city_name

# updated the city columns
df['city'] = df['city'].apply(Clean_names)

print(df)

                city        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new orleans  Tech_summit  12000

In [ ]:
# creating dataframe from pandas series
import pandas as pd
author = ['ganesh','raghavendra','shreya','pragaya']

# creating a series by passing list
# variable to series() function
auth_series = pd.Series(author)

print(auth_series)

print(type(auth_series))

0         ganesh
1    raghavendra
2         shreya
3        pragaya
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
# create DataFrame from Multiple series
# two lists passed to pd.Series()

# creating two lists
author = ['ganesh','raghavendra','shreya','pragaya']

article = [210,211,114,178]

# creating two series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

# creating a dictionary by passing Series objects as values
frame  = {'author':auth_series,
          'article':article_series}

result = pd.DataFrame(frame)

print(result)

        author  article
0       ganesh      210
1  raghavendra      211
2       shreya      114
3      pragaya      178

In [ ]:
# Add a column in Pandas DartaFrame
import pandas as pd
#creating series
auth_series = pd.Series(['ganesh','raghavendra','shreya','pragaya'])

article_series = pd.Series([210,211,114,178])

# creating a dictionary by passing Series objects as values
frame  = {'author':auth_series,
          'article':article_series}

# creating DataFrame
result = pd.DataFrame(frame)
# careting another list
age = [21,21,24,23]

# creating new column in the dataframe by providing Series created using list
result['age'] = pd.Series(age)

print(result)

        author  article  age
0       ganesh      210   21
1  raghavendra      211   21
2       shreya      114   24
3      pragaya      178   23

In [ ]:
#missing the value in pandas DataFrame
import pandas as pd

auth_series = pd.Series(['ganesh','raghavendra','shreya','pragya'])

article_series = pd.Series([210, 211, 114, 178])

frame  = {'author':auth_series,
          'article':article_series}

result = pd.DataFrame(frame)

age = [21, 21, 24]

result['Age'] = pd.Series(age)

print(result)

        author  article   Age
0       ganesh      210  21.0
1  raghavendra      211  21.0
2       shreya      114  24.0
3       pragya      178   NaN

In [ ]:
# creating dataframe using a dictionary of series
import pandas as pd
# Creating dictionay of  series
dict1 = {'auth_name':pd.Series(['ganesh','raghavendra','shreya','pragya']),
         'author_book_no':pd.Series([210, 211, 114, 178]),'age':pd.Series([21, 21, 24,23])}

df = pd.DataFrame(dict1)

print(df)

     auth_name  author_book_no  age
0       ganesh             210   21
1  raghavendra             211   21
2       shreya             114   24
3       pragya             178   23

In [ ]:
# explict indexing in pandas dataframe
import pandas as pd
# Creating dictionay of  series
dict1 = {'auth_name':pd.Series(['ganesh','raghavendra','shreya','pragya']),
         'author_book_no':pd.Series([210, 211, 114, 178]),'age':pd.Series([21, 21, 24,23])}

df = pd.DataFrame(dict1,index = ['SNO1','SNO2','SNO3','SNO4'])

print(df)

     auth_name  author_book_no  age
SNO1       NaN             NaN  NaN
SNO2       NaN             NaN  NaN
SNO3       NaN             NaN  NaN
SNO4       NaN             NaN  NaN

In [46]:
import pandas as pd
# Creating dictionay of  series
dict1 = {'auth_name':pd.Series(['ganesh',
                'raghavendra','shreya','pragya'],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'author_book_no':pd.Series([210, 211, 114, 178],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'age':pd.Series([21, 21, 24,23],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])}

df = pd.DataFrame(dict1,index = ['SNO1','SNO2','SNO3','SNO4'])

print(df)

     auth_name  author_book_no  age
SNO1       NaN             NaN  NaN
SNO2       NaN             NaN  NaN
SNO3       NaN             NaN  NaN
SNO4       NaN             NaN  NaN