<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/AI_and_ML_ASSIGNMENTS(PANDAS)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# create pandas datframe with two dimensional list(python)
import pandas as pd

# list1
lst =[['Geek',25],['is',30],
      ['for',26],['Geeksforgeeks',22]]

# creation df object with columns specified
df = pd.DataFrame(lst,columns = ['Tag','number'])
print(df)

             Tag  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

In [9]:
# example 2
import pandas as pd
#list
lst = [['tom','reacher',25],['krish','pete',30],
       ['nick','wilson',26],['john','williams',22]]

df = pd.DataFrame(lst,columns =['FName','LName','Age'],
                                        dtype = float)

print(df)

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   john  williams  22.0

<ipython-input-9-c8f08df269a5>:7: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst,columns =['FName','LName','Age'],

In [10]:
# creating Dataframe from dict of narray/lists
# what is the meaning of ndarray(or lists)? are they same?
#example 1 : we will use pd.DataFrame() function to create the dataframe from the list
import pandas as pd

# intialise data of lists
data = {'category':['Array','Stack','queue'],
        'Marks':[20,21,19]}

# create DataFrame
df = pd.DataFrame(data)

print(df)

  category  Marks
0    Array     20
1    Stack     21
2    queue     19

In [13]:
# example 2
import pandas as pd

data = {'category':['Array','Stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data)

print(df.transpose())

               0      1      2
category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [14]:
# using Pandas DataFrame with the index parameter
# example 1:providing index list to dataframe
import pandas as pd

data = {'Area':['Array','stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data,index =['cat_1','cat_2','cat_3'])

print(df)

        Area  Student_1  Student_2
cat_1  Array         20         15
cat_2  stack         21         20
cat_3  Queue         19         14

In [18]:
# Creating Pandas datframe using list of lists
# example 1
import pandas as pd

data = [['geeks',10],['for',15],['Geeks',20]]

df = pd.DataFrame(data,columns = ['Name','Age'])

print(df)

    Name  Age
0  geeks   10
1    for   15
2  Geeks   20

In [19]:
# example 2
import pandas as pd

data = [['Ds','Linked_list',10],['DS','Stack',9],['DS','Queue',7],
        ['Algo','Greedy',8],['Algo','DP',6],['Algo','BackTrack',5]]

df = pd.DataFrame(data,columns = ['Category','Name','Marks'])

print(df)

  Category         Name  Marks
0       Ds  Linked_list     10
1       DS        Stack      9
2       DS        Queue      7
3     Algo       Greedy      8
4     Algo           DP      6
5     Algo    BackTrack      5

In [20]:
# Defining column names using DataFrame.columns() function
import pandas as pd
# carete the oandas Dataframe
df = pd.DataFrame(data)

# specifying coulmn names
df.coulmns = ['col_1','col_2','col_3']

# print dataframe
print(df,"\n")

df = df.transpose()
print("Transpose of above datframe is-\n",df)

      0            1   2
0    Ds  Linked_list  10
1    DS        Stack   9
2    DS        Queue   7
3  Algo       Greedy   8
4  Algo           DP   6
5  Algo    BackTrack   5

Transpose of above datframe is-
              0      1      2       3     4          5
0           Ds     DS     DS    Algo  Algo       Algo
1  Linked_list  Stack  Queue  Greedy    DP  BackTrack
2           10      9      7       8     6          5

<ipython-input-20-712f27973b08>:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.coulmns = ['col_1','col_2','col_3']