<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/AI_and_ML_ASSIGNMENTS(PANDAS)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create pandas datframe with two dimensional list(python)
import pandas as pd

# list1
lst =[['Geek',25],['is',30],
      ['for',26],['Geeksforgeeks',22]]

# creation df object with columns specified
df = pd.DataFrame(lst,columns = ['Tag','number'])
print(df)

             Tag  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

In [ ]:
# example 2
import pandas as pd
#list
lst = [['tom','reacher',25],['krish','pete',30],
       ['nick','wilson',26],['john','williams',22]]

df = pd.DataFrame(lst,columns =['FName','LName','Age'],
                                        dtype = float)

print(df)

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   john  williams  22.0

<ipython-input-9-c8f08df269a5>:7: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst,columns =['FName','LName','Age'],

In [ ]:
# creating Dataframe from dict of narray/lists
# what is the meaning of ndarray(or lists)? are they same?
#example 1 : we will use pd.DataFrame() function to create the dataframe from the list
import pandas as pd

# intialise data of lists
data = {'category':['Array','Stack','queue'],
        'Marks':[20,21,19]}

# create DataFrame
df = pd.DataFrame(data)

print(df)

  category  Marks
0    Array     20
1    Stack     21
2    queue     19

In [ ]:
# example 2
import pandas as pd

data = {'category':['Array','Stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data)

print(df.transpose())

               0      1      2
category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [ ]:
# using Pandas DataFrame with the index parameter
# example 1:providing index list to dataframe
import pandas as pd

data = {'Area':['Array','stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data,index =['cat_1','cat_2','cat_3'])

print(df)

        Area  Student_1  Student_2
cat_1  Array         20         15
cat_2  stack         21         20
cat_3  Queue         19         14

In [ ]:
# Creating Pandas datframe using list of lists
# example 1
import pandas as pd

data = [['geeks',10],['for',15],['Geeks',20]]

df = pd.DataFrame(data,columns = ['Name','Age'])

print(df)

    Name  Age
0  geeks   10
1    for   15
2  Geeks   20

In [ ]:
# example 2
import pandas as pd

data = [['Ds','Linked_list',10],['DS','Stack',9],['DS','Queue',7],
        ['Algo','Greedy',8],['Algo','DP',6],['Algo','BackTrack',5]]

df = pd.DataFrame(data,columns = ['Category','Name','Marks'])

print(df)

  Category         Name  Marks
0       Ds  Linked_list     10
1       DS        Stack      9
2       DS        Queue      7
3     Algo       Greedy      8
4     Algo           DP      6
5     Algo    BackTrack      5

In [ ]:
# Defining column names using DataFrame.columns() function
import pandas as pd

data = [[1,5,10],[2,6,9],[3,7,8]]
# create the pandas Dataframe
df = pd.DataFrame(data)

# specifying coulmn names
df.coulmns = ['col_1','col_2','col_3']

# print dataframe
print(df,"\n")

df = df.transpose()
print("Transpose of above datframe is-\n",df)

   0  1   2
0  1  5  10
1  2  6   9
2  3  7   8

Transpose of above datframe is-
     0  1  2
0   1  2  3
1   5  6  7
2  10  9  8

<ipython-input-1-e9f36337a05f>:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.coulmns = ['col_1','col_2','col_3']

In [ ]:
# Creating the Pandas DataFrame using the list of tuples
# example 1:we will pass to the dataframe constructor which will return a pandas dataframe
import pandas as pd

# data in the the form of list of tuples
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

# create dataframe using data
df = pd.DataFrame(data,columns = ['Name','Age','Score'])

print(df)

     Name  Age  Score
0   peter   18      7
1  ganesh   34      8
2     are   45      4
3   raghu   23      6
4  shreya   20      3

In [ ]:
# using from_records() method
# example 2 :df.from_records()

import pandas as pd
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

df = pd.DataFrame.from_records(data,columns =['Team','Age','Score'])

print(df)

     Team  Age  Score
0   peter   18      7
1  ganesh   34      8
2     are   45      4
3   raghu   23      6
4  shreya   20      3

In [ ]:
# using df.pivot() function

import pandas as pd
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

df = pd.DataFrame.from_records(data,columns =['Team','Age','Score'])

a = df.pivot('Team','Score','Age')

print(a)

Score      3     4     6     7     8
Team
are      NaN  45.0   NaN   NaN   NaN
ganesh   NaN   NaN   NaN   NaN  34.0
peter    NaN   NaN   NaN  18.0   NaN
raghu    NaN   NaN  23.0   NaN   NaN
shreya  20.0   NaN   NaN   NaN   NaN

<ipython-input-7-26b53fb5e96d>:12: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  a = df.pivot('Team','Score','Age')

In [ ]:
# create pandas dataframe from Lists of Dicts
# Method 1:Convert a list of dictionaries to a pandas Dataframe using from_records()
# from_records() it converts a structured ndarrray,tuple or dictsequence,or Dataframe in to Dataframe object
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.DataFrame.from_records(data,index=['1','2'])
print(df)

      ganesh     is workalcoholic
1  dataframe  using          list
2         20     10            30

In [ ]:
# Method 2:Convert a list of dictionaries to a pandas DataFrame using pd.DataFrame.from_dict()
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.DataFrame.from_dict(data)
print(df)

      ganesh     is workalcoholic
0  dataframe  using          list
1         20     10            30

In [ ]:
# Method 3:  Converts a list of dictionaries to pandas DataFrame using pd.json_normalize
# json_normalize()
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.json_normalize(data)
print(df)

      ganesh     is workalcoholic
0  dataframe  using          list
1         20     10            30

In [ ]:
# method 4: pd.DataFrame()

In [ ]:
# example2:
# creating a dataframe by explicitly providing user defined values for both index and columns
import pandas as pd

data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]
#with two column indices ,values same
# as Dictionary keys
df1 = pd.DataFrame(data,index = ['ind1','ind2'],
                       columns = ['ganesh','is'])

# with two column indices with
# one index with other name
df2 = pd.DataFrame(data,index=['index','indy'])

print(df1,"\n")

print(df2)

         ganesh     is
ind1  dataframe  using
ind2         20     10

          ganesh     is workalcoholic
index  dataframe  using          list
indy          20     10            30

In [ ]:
# convert a list of nested dictionary in to Pandas DataFrame
# step1 :creating a list of nested dictionary
import pandas as pd

# list of nested dictinary intialization
list = [{"student":[{"exam":90,"Grade":"a"},
                    {"exam":90,"Grade":"a"},
                    {"exam":90,"Grade":"a"},
                  ],
         "Name":"paras Jain"
         },
        {"student":[{"exam":89,"Grade":"a"},
                    {"exam":89,"Grade":"a"}
                    ],
         "Name":"chunky pandey"
         }
     ]

print(list)

[{'student': [{'exam': 90, 'Grade': 'a'}, {'exam': 90, 'Grade': 'a'}, {'exam': 90, 'Grade': 'a'}], 'Name': 'paras Jain'}, {'student': [{'exam': 89, 'Grade': 'a'}, {'exam': 89, 'Grade': 'a'}], 'Name': 'chunky pandey'}]

In [ ]:
# step 2:Adding dict values to rows
# rows list intialization
rows = []
# appending rows
for data in list:
  data_row = data['student']
  time = data['Name']

  for row in data_row:
    row['Name'] = time
    rows.append(row)

# using dataframe
df = pd.DataFrame(rows)

print(df)

   exam Grade           Name
0    90     a     paras Jain
1    90     a     paras Jain
2    90     a     paras Jain
3    89     a  chunky pandey
4    89     a  chunky pandey

In [ ]:
# step3 :pivoting DataFrame and assigning column names
df = df.pivot_table(index = 'Name',columns = ['Grade'],
                         values = ['exam']).reset_index()

# defining columns
df.columns =['Name','Maths','Physics','Chemistry']

# print dataframe
print(df.coulmns)

ValueError: ignored

In [ ]:
# convert a list of nested dictionary in to Pandas DataFrame
# step1 :creating a list of nested dictionary
import pandas as pd

# list of nested dictinary intialization
list = [{"student":[{"Exam":90,"Grade":"a"},
                    {"Exam":90,"Grade":"a"},
                    {"Exam":90,"Grade":"a"},
                  ],
         "Name":"paras Jain"
         },
        {"student":[{"Exam":89,"Grade":"a"},
                    {"Exam":89,"Grade":"a"}
                    ],
         "Name":"chunky pandey"
         }
     ]


# step 2:Adding dict values to rows
# rows list intialization
rows = []
# appending rows
for data in list:
  data_row = data['student']
  time = data['Name']

  for row in data_row:
    row['Name'] = time
    rows.append(row)

# using dataframe
df = pd.DataFrame(rows)

# step3 :pivoting DataFrame and assigning column names
df = df.pivot_table(index = 'Name',columns = ['Grade'],
                         values = ['Exam']).reset_index()

# defining columns
df.columns =['Name', 'Maths', 'Physics', 'Chemistry']

# print dataframe
print(df)

ValueError: ignored

In [ ]:
# Replace values in Pandas dataframe using regex
# DataFrame.replace() function
# problem 1 : cities name start with New or new change it to New_
import pandas as pd
#create a dataframe
df = pd.DataFrame({'city':['New York','Parague','New Delhi','Venice','new orleans'],
                   'Event':['Music','poetry','Theatre','Comedy','Tech_summit'],
                   'Cost':[10000,5000,15000,2000,12000]})

# lets create the index
index_ = [pd.Period('02-2018'),pd.Period('04-2018'),
        pd.Period('06-2018'),pd.Period('10-2018'),pd.Period('12-2018')]

#set the indedx
df.index = index_

# print the dataframe
print(df)

                city        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new orleans  Tech_summit  12000

In [ ]:
# Replace the matching strings
df_updated = df.replace(to_replace = '[nN]ew',value = 'New_',regex = True)

print(df_updated)

                 city        Event   Cost
2018-02     New_ York        Music  10000
2018-04       Parague       poetry   5000
2018-06    New_ Delhi      Theatre  15000
2018-10        Venice       Comedy   2000
2018-12  New_ orleans  Tech_summit  12000

In [ ]:
# removing additional details
# DataFrame.apply() to apply our customized function on each values the column
import pandas as pd

df = pd.DataFrame({'city':['New York(city)','Parague','New Delhi(delhi)','Venice','new orleans'],
                   'Event':['Music','poetry','Theatre','Comedy','Tech_summit'],
                   'Cost':[10000,5000,15000,2000,12000]})

#  create the index
index_ = [pd.Period('02-2018'),pd.Period('04-2018'),
        pd.Period('06-2018'),pd.Period('10-2018'),pd.Period('12-2018')]

# set the index
df.index = index_

print(df)

                     city        Event   Cost
2018-02    New York(city)        Music  10000
2018-04           Parague       poetry   5000
2018-06  New Delhi(delhi)      Theatre  15000
2018-10            Venice       Comedy   2000
2018-12       new orleans  Tech_summit  12000

In [ ]:
# importing re package for using regular expression
import re

# functions to clean the names
def Clean_names(city_name):
  # search for opening bracket in the name followed by
  # any characteristics repeated any number of times
  if re.search('\(.*',city_name):

    # extract the position of begining of pattern
     pos = re.search('\(.*',city_name).start()

     # return the cleaned name
     return city_name[:pos]

  else:
  # if clean up needed return the same name
       return city_name

# updated the city columns
df['city'] = df['city'].apply(Clean_names)

print(df)

                city        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new orleans  Tech_summit  12000

In [ ]:
# creating dataframe from pandas series
import pandas as pd
author = ['ganesh','raghavendra','shreya','pragaya']

# creating a series by passing list
# variable to series() function
auth_series = pd.Series(author)

print(auth_series)

print(type(auth_series))

0         ganesh
1    raghavendra
2         shreya
3        pragaya
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
# create DataFrame from Multiple series
# two lists passed to pd.Series()

# creating two lists
author = ['ganesh','raghavendra','shreya','pragaya']

article = [210,211,114,178]

# creating two series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

# creating a dictionary by passing Series objects as values
frame  = {'author':auth_series,
          'article':article_series}

result = pd.DataFrame(frame)

print(result)

        author  article
0       ganesh      210
1  raghavendra      211
2       shreya      114
3      pragaya      178

In [ ]:
# Add a column in Pandas DartaFrame
import pandas as pd
#creating series
auth_series = pd.Series(['ganesh','raghavendra','shreya','pragaya'])

article_series = pd.Series([210,211,114,178])

# creating a dictionary by passing Series objects as values
frame  = {'author':auth_series,
          'article':article_series}

# creating DataFrame
result = pd.DataFrame(frame)
# careting another list
age = [21,21,24,23]

# creating new column in the dataframe by providing Series created using list
result['age'] = pd.Series(age)

print(result)

        author  article  age
0       ganesh      210   21
1  raghavendra      211   21
2       shreya      114   24
3      pragaya      178   23

In [ ]:
#missing the value in pandas DataFrame
import pandas as pd

auth_series = pd.Series(['ganesh','raghavendra','shreya','pragya'])

article_series = pd.Series([210, 211, 114, 178])

frame  = {'author':auth_series,
          'article':article_series}

result = pd.DataFrame(frame)

age = [21, 21, 24]

result['Age'] = pd.Series(age)

print(result)

        author  article   Age
0       ganesh      210  21.0
1  raghavendra      211  21.0
2       shreya      114  24.0
3       pragya      178   NaN

In [ ]:
# creating dataframe using a dictionary of series
import pandas as pd
# Creating dictionay of  series
dict1 = {'auth_name':pd.Series(['ganesh','raghavendra','shreya','pragya']),
         'author_book_no':pd.Series([210, 211, 114, 178]),'age':pd.Series([21, 21, 24,23])}

df = pd.DataFrame(dict1)

print(df)

     auth_name  author_book_no  age
0       ganesh             210   21
1  raghavendra             211   21
2       shreya             114   24
3       pragya             178   23

In [ ]:
# explict indexing in pandas dataframe
import pandas as pd
# Creating dictionay of  series
dict1 = {'auth_name':pd.Series(['ganesh','raghavendra','shreya','pragya']),
         'author_book_no':pd.Series([210, 211, 114, 178]),'age':pd.Series([21, 21, 24,23])}

df = pd.DataFrame(dict1,index = ['SNO1','SNO2','SNO3','SNO4'])

print(df)

     auth_name  author_book_no  age
SNO1       NaN             NaN  NaN
SNO2       NaN             NaN  NaN
SNO3       NaN             NaN  NaN
SNO4       NaN             NaN  NaN

In [ ]:
import pandas as pd
# Creating dictionay of  series
dict1 = {'auth_name':pd.Series(['ganesh',
                'raghavendra','shreya','pragya'],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'author_book_no':pd.Series([210, 211, 114, 178],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'age':pd.Series([21, 21, 24,23],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])}

df = pd.DataFrame(dict1,index = ['SNO1','SNO2','SNO3','SNO4'])

print(df)

     auth_name  author_book_no  age
SNO1       NaN             NaN  NaN
SNO2       NaN             NaN  NaN
SNO3       NaN             NaN  NaN
SNO4       NaN             NaN  NaN

In [4]:
#Construct a DataFrame in pandas using string data
# method 1 : Create pandas dataframe from a string using StringIO()
# read the data using pd.read_csv()
import pandas as pd

# import the stringIo Function
# from io module

from io import StringIO

# wrap the string data in stringIo function

stringdata = StringIO("""Date;Event;Cost
           10/2/2022;music;10000
           11/2/202;poetry;12000
           12/2/2022;Theatre;5000
           13/2/2022;Comedy;8000
           """)
# read the data using the pandas
# read_csv()
df = pd.read_csv(stringdata,sep =";")

print(df)

                   Date    Event   Cost
0             10/2/2022    music  10000
1              11/2/202   poetry  12000
2             12/2/2022  Theatre   5000
3             13/2/2022   Comedy   8000

In [9]:
# clean the string data in the given pandas dataframe
# DataFrame example ,where the product names are not in correct manner
import pandas as pd

df = pd.DataFrame({'Date':['10/2/2022','11/2/2022','12/2/2022','13/2/2022'],
                   'Product':['UMbrella','  maTtress','BaDmintoN','shuttle'],
                   'updated_price':[1250,1450,1550,400],
                   'Discount':[10,8,15,10]})

print(df)

        Date     Product  updated_price  Discount
0  10/2/2022    UMbrella           1250        10
1  11/2/2022    maTtress           1450         8
2  12/2/2022   BaDmintoN           1550        15
3  13/2/2022     shuttle            400        10

In [10]:
# Creating custom function
def Format_data(df):
  # iterate over all the rows
  for i in range(df.shape[0]):

    # reassign the values to the product coulmn
    # we first strip the whitespace using strip() function
    # then we capitalize the first letter using capitalize()  function
    df.iat[i,1]  = df.iat[i,1].strip().capitalize()

#call the function
Format_data(df)

print(df)

        Date    Product  updated_price  Discount
0  10/2/2022   Umbrella           1250        10
1  11/2/2022   Mattress           1450         8
2  12/2/2022  Badminton           1550        15
3  13/2/2022    Shuttle            400        10

In [13]:
# using the pandas apply function
# lambda function
import pandas as pd

df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':[' UMbreLla', '  maTtress', 'BaDmintoN ', 'Shuttle'],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 8, 15, 10]})

 # using the df.apply() function on product column
df['Product'] = df['Product'].apply(lambda x : x.strip().capitalize())

print(df)

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011   Mattress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

In [21]:
# Reindexing in pandas in pandas DataFrame
# reindex() single row or mutiple row
import pandas as pd
import numpy as np

column = ['a','b','c','d','e']
index = ['A','B','C','D','E']

# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5),
              columns =column,index = index)

print(df1)

print('\n\nDataframe after reindexing rows: \n',
df1.reindex(['B','D','C','A','E']))

          a         b         c         d         e
A  0.923414  0.786603  0.894581  0.618954  0.521883
B  0.550998  0.450504  0.152650  0.507389  0.498735
C  0.514281  0.118887  0.084975  0.541616  0.602670
D  0.226399  0.467414  0.206220  0.730322  0.529542
E  0.922593  0.969973  0.195678  0.625668  0.269147


Dataframe after reindexing rows:
           a         b         c         d         e
B  0.550998  0.450504  0.152650  0.507389  0.498735
D  0.226399  0.467414  0.206220  0.730322  0.529542
C  0.514281  0.118887  0.084975  0.541616  0.602670
A  0.923414  0.786603  0.894581  0.618954  0.521883
E  0.922593  0.969973  0.195678  0.625668  0.269147

In [22]:
# reindexing the columns using the axis keyword
import pandas as pd
import numpy as np

column = ['a','b','c','d','e']
index = ['A','B','C','D','E']

# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5),
              columns =column,index = index)

column = ['e','a','b','c','d']

# create the new index for columns
print(df1.reindex(column,axis = 'columns'))

          e         a         b         c         d
A  0.510907  0.214963  0.735934  0.384942  0.728102
B  0.498698  0.507633  0.207877  0.913989  0.930677
C  0.989695  0.804499  0.626443  0.604898  0.896104
D  0.548283  0.843529  0.413268  0.457625  0.528829
E  0.296663  0.787504  0.495125  0.951802  0.045154

In [23]:
# replacing the missing the values
# code1:Misiing values from dataframe can be filled by passing a value to the
# keyword fill_value. This keyword replaces the NaN value
# import numpy and pandas module
import pandas as pd
import numpy as np

column =['a', 'b', 'c', 'd', 'e']
index =['A', 'B', 'C', 'D', 'E']

# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5, 5),
        columns = column, index = index)

column =['a', 'b', 'c', 'g', 'h']

# create the new index for columns
print(df1.reindex(column,axis ='columns',fill_value = 1.5))

# we can also fill missing data by 'string value'

          a         b         c    g    h
A  0.000104  0.508418  0.513248  1.5  1.5
B  0.205364  0.994006  0.882370  1.5  1.5
C  0.753469  0.343525  0.380904  1.5  1.5
D  0.970713  0.035909  0.537073  1.5  1.5
E  0.325792  0.752212  0.794210  1.5  1.5

In [25]:
# Mapping exaternal values to dataframes values in pandas
# method 1:Using the mappimg function
import pandas as pd

intial_data = {'First_name':['Ram','Mohan','Tina','Jeetu','Meera'],
               'Last_name':['Kumar','sharma','Ali','Gandhi','kumari'],
               'Age':[42,52,36,21,23],
               'City':['Mumbai','Noida','pune','delhi','Bihar']}

df = pd.DataFrame(intial_data,columns = ['First_name','Last_name','Age','City'])

# create new column using dictionary
new_data = {"Ram":"B.com",
            "Mohan":"IAS",
            "Tina":"LLB",
            "Jeetu":"B.Tech",
            "Meera":"MBBS" }

# combine this new data with existing DataFrame
df["Qualification"] = df["First_name"].map(new_data)

print(df)

  First_name Last_name  Age    City Qualification
0        Ram     Kumar   42  Mumbai         B.com
1      Mohan    sharma   52   Noida           IAS
2       Tina       Ali   36    pune           LLB
3      Jeetu    Gandhi   21   delhi        B.Tech
4      Meera    kumari   23   Bihar          MBBS

In [26]:
# method 2 :using replace function
import pandas as pd

intial_data = {'First_name':['Ram','Mohan','Tina','Jeetu','Meera'],
               'Last_name':['Kumar','sharma','Ali','Gandhi','kumari'],
               'Age':[42,52,36,21,23],
               'City':['Mumbai','Noida','pune','delhi','Bihar']}

df = pd.DataFrame(intial_data,columns = ['First_name','Last_name','Age','City'])

# create new column using dictionary
new_data = {"Ram":"shyam",
            "Tina":"Riya",
            "Jeetu":"Jeetender",
             }

print(df,end = "\n\n")

# combine this new data with existing dataframes
df = df.replace({"First_name":new_data})
print(df)

  First_name Last_name  Age    City
0        Ram     Kumar   42  Mumbai
1      Mohan    sharma   52   Noida
2       Tina       Ali   36    pune
3      Jeetu    Gandhi   21   delhi
4      Meera    kumari   23   Bihar

  First_name Last_name  Age    City
0      shyam     Kumar   42  Mumbai
1      Mohan    sharma   52   Noida
2       Riya       Ali   36    pune
3  Jeetender    Gandhi   21   delhi
4      Meera    kumari   23   Bihar

In [27]:
# Method : using update function
import pandas as pd

intial_data = {'First_name':['Ram','Mohan','Tina','Jeetu','Meera'],
               'Last_name':['Kumar','sharma','Ali','Gandhi','kumari'],
               'Age':[42,52,36,21,23],
               'City':['Mumbai','Noida','pune','delhi','Bihar']}

df = pd.DataFrame(intial_data,columns = ['First_name','Last_name','Age','City'])

# create new column using dictionary
new_data = { 0:"shyam",
             2:"Riya",
             3:"Jeetender",
             }

df["First_name"].update(pd.Series(new_data))
print(df)

  First_name Last_name  Age    City
0      shyam     Kumar   42  Mumbai
1      Mohan    sharma   52   Noida
2       Riya       Ali   36    pune
3  Jeetender    Gandhi   21   delhi
4      Meera    kumari   23   Bihar

In [52]:
# reshape a pandas DataFrame using stack ,unstack and melt method
# first import dataset

# making the dataframe
import pandas as pd

df = pd.read_csv("C:\Users\ganes\OneDrive\Desktop\nba.csv")


print(df.head())

SyntaxError: ignored

In [33]:
# using stack() method
# works with Multindex objects in dataframe ,it returns a dataframe with an inner
# -most level of row level. It changes the wide table to a long table

import pandas as pd

# making dataframe
df = pd.read_csv("nba.csv")


# reshape the dataframe using stack() method
df_stacked = df.satck()

print(df_stacked.head(26))

FileNotFoundError: ignored

In [42]:
# reset the index in pandas dataframe
# reset_index()
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
4   Geeku   15      Noida          10th

In [55]:
# create index Make own index value without removing Default index
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

index = ['a', 'b', 'c', 'd', 'e']

# convert dictionary in to dataframe
df = pd.DataFrame(data,index)

# make our own index as index
# in this case default index is exist
df.reset_index(inplace = True)

print(df)

  index    Name  Age    Address Qualification
0     a     Jai   27      Delhi           Msc
1     b  Princi   24     Kanpur            MA
2     c  Gaurav   22  Allahabad           MCA
3     d    Anuj   32    Kannauj           Phd
4     e   Geeku   15      Noida          10th

In [57]:
# make column of dataframe as index with remove default index
import pandas as pd

data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

# Create own index
index = ['a', 'b', 'c', 'd', 'e']

# Convert the dictionary into DataFrame
df = pd.DataFrame(data, index)

# set index any column of our DF and#
# remove default index
df.set_index(['Age'],inplace = True)

print(df)

       Name    Address Qualification
Age
27      Jai      Delhi           Msc
24   Princi     Kanpur            MA
22   Gaurav  Allahabad           MCA
32     Anuj    Kannauj           Phd
15    Geeku      Noida          10th

In [61]:
# make column of dataframe as index with without removing default index
import pandas as pd

data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

# Create own index
index = ['a', 'b', 'c', 'd', 'e']

# Convert the dictionary into DataFrame
df = pd.DataFrame(data, index)

# set any column as index
# here we set age column as index
df.set_index(['Age'],inplace =True)

# reset index without removing default index
df.reset_index(level=['Age'],inplace = True)

print(df)

   Age    Name    Address Qualification
0   27     Jai      Delhi           Msc
1   24  Princi     Kanpur            MA
2   22  Gaurav  Allahabad           MCA
3   32    Anuj    Kannauj           Phd
4   15   Geeku      Noida          10th