<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/AI_and_ML_ASSIGNMENTS(PANDAS)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# create pandas datframe with two dimensional list(python)
import pandas as pd

# list1
lst =[['Geek',25],['is',30],
      ['for',26],['Geeksforgeeks',22]]

# creation df object with columns specified
df = pd.DataFrame(lst,columns = ['Tag','number'])
print(df)

             Tag  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

In [9]:
# example 2
import pandas as pd
#list
lst = [['tom','reacher',25],['krish','pete',30],
       ['nick','wilson',26],['john','williams',22]]

df = pd.DataFrame(lst,columns =['FName','LName','Age'],
                                        dtype = float)

print(df)

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   john  williams  22.0

<ipython-input-9-c8f08df269a5>:7: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst,columns =['FName','LName','Age'],

In [10]:
# creating Dataframe from dict of narray/lists
# what is the meaning of ndarray(or lists)? are they same?
#example 1 : we will use pd.DataFrame() function to create the dataframe from the list
import pandas as pd

# intialise data of lists
data = {'category':['Array','Stack','queue'],
        'Marks':[20,21,19]}

# create DataFrame
df = pd.DataFrame(data)

print(df)

  category  Marks
0    Array     20
1    Stack     21
2    queue     19

In [13]:
# example 2
import pandas as pd

data = {'category':['Array','Stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data)

print(df.transpose())

               0      1      2
category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [14]:
# using Pandas DataFrame with the index parameter
# example 1:providing index list to dataframe
import pandas as pd

data = {'Area':['Array','stack','Queue'],
        'Student_1':[20,21,19],'Student_2':[15,20,14]}

df = pd.DataFrame(data,index =['cat_1','cat_2','cat_3'])

print(df)

        Area  Student_1  Student_2
cat_1  Array         20         15
cat_2  stack         21         20
cat_3  Queue         19         14

In [18]:
# Creating Pandas datframe using list of lists
# example 1
import pandas as pd

data = [['geeks',10],['for',15],['Geeks',20]]

df = pd.DataFrame(data,columns = ['Name','Age'])

print(df)

    Name  Age
0  geeks   10
1    for   15
2  Geeks   20

In [19]:
# example 2
import pandas as pd

data = [['Ds','Linked_list',10],['DS','Stack',9],['DS','Queue',7],
        ['Algo','Greedy',8],['Algo','DP',6],['Algo','BackTrack',5]]

df = pd.DataFrame(data,columns = ['Category','Name','Marks'])

print(df)

  Category         Name  Marks
0       Ds  Linked_list     10
1       DS        Stack      9
2       DS        Queue      7
3     Algo       Greedy      8
4     Algo           DP      6
5     Algo    BackTrack      5

In [1]:
# Defining column names using DataFrame.columns() function
import pandas as pd

data = [[1,5,10],[2,6,9],[3,7,8]]
# create the pandas Dataframe
df = pd.DataFrame(data)

# specifying coulmn names
df.coulmns = ['col_1','col_2','col_3']

# print dataframe
print(df,"\n")

df = df.transpose()
print("Transpose of above datframe is-\n",df)

   0  1   2
0  1  5  10
1  2  6   9
2  3  7   8

Transpose of above datframe is-
     0  1  2
0   1  2  3
1   5  6  7
2  10  9  8

<ipython-input-1-e9f36337a05f>:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.coulmns = ['col_1','col_2','col_3']

In [5]:
# Creating the Pandas DataFrame using the list of tuples
# example 1:we will pass to the dataframe constructor which will return a pandas dataframe
import pandas as pd

# data in the the form of list of tuples
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

# create dataframe using data
df = pd.DataFrame(data,columns = ['Name','Age','Score'])

print(df)

     Name  Age  Score
0   peter   18      7
1  ganesh   34      8
2     are   45      4
3   raghu   23      6
4  shreya   20      3

In [6]:
# using from_records() method
# example 2 :df.from_records()

import pandas as pd
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

df = pd.DataFrame.from_records(data,columns =['Team','Age','Score'])

print(df)

     Team  Age  Score
0   peter   18      7
1  ganesh   34      8
2     are   45      4
3   raghu   23      6
4  shreya   20      3

In [7]:
# using df.pivot() function

import pandas as pd
data = [('peter',18,7),
      ('ganesh',34,8),
      ('are',45,4),
      ('raghu',23,6),
      ('shreya',20,3)]

df = pd.DataFrame.from_records(data,columns =['Team','Age','Score'])

a = df.pivot('Team','Score','Age')

print(a)

Score      3     4     6     7     8
Team
are      NaN  45.0   NaN   NaN   NaN
ganesh   NaN   NaN   NaN   NaN  34.0
peter    NaN   NaN   NaN  18.0   NaN
raghu    NaN   NaN  23.0   NaN   NaN
shreya  20.0   NaN   NaN   NaN   NaN

<ipython-input-7-26b53fb5e96d>:12: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  a = df.pivot('Team','Score','Age')

In [8]:
# create pandas dataframe from Lists of Dicts
# Method 1:Convert a list of dictionaries to a pandas Dataframe using from_records()
# from_records() it converts a structured ndarrray,tuple or dictsequence,or Dataframe in to Dataframe object
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.DataFrame.from_records(data,index=['1','2'])
print(df)

      ganesh     is workalcoholic
1  dataframe  using          list
2         20     10            30

In [9]:
# Method 2:Convert a list of dictionaries to a pandas DataFrame using pd.DataFrame.from_dict()
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.DataFrame.from_dict(data)
print(df)

      ganesh     is workalcoholic
0  dataframe  using          list
1         20     10            30

In [10]:
# Method 3:  Converts a list of dictionaries to pandas DataFrame using pd.json_normalize
# json_normalize()
import pandas as pd
data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]

df = pd.json_normalize(data)
print(df)

      ganesh     is workalcoholic
0  dataframe  using          list
1         20     10            30

In [ ]:
# method 4: pd.DataFrame()

In [12]:
# example2:
# creating a dataframe by explicitly providing user defined values for both index and columns
import pandas as pd

data = [{'ganesh':'dataframe','is':'using','workalcoholic':'list'},
        {'ganesh':20,'is':10,'workalcoholic':30}]
#with two column indices ,values same
# as Dictionary keys
df1 = pd.DataFrame(data,index = ['ind1','ind2'],
                       columns = ['ganesh','is'])

# with two column indices with
# one index with other name
df2 = pd.DataFrame(data,index=['index','indy'])

print(df1,"\n")

print(df2)

         ganesh     is
ind1  dataframe  using
ind2         20     10

          ganesh     is workalcoholic
index  dataframe  using          list
indy          20     10            30

In [13]:
# convert a list of nested dictionary in to Pandas DataFrame
# step1 :creating a list of nested dictionary
import pandas as pd

# list of nested dictinary intialization
list = [{"student":[{"exam":90,"Grade":"a"},
                    {"exam":90,"Grade":"a"},
                    {"exam":90,"Grade":"a"},
                  ],
         "Name":"paras Jain"
         },
        {"student":[{"exam":89,"Grade":"a"},
                    {"exam":89,"Grade":"a"}
                    ],
         "Name":"chunky pandey"
         }
     ]

print(list)

[{'student': [{'exam': 90, 'Grade': 'a'}, {'exam': 90, 'Grade': 'a'}, {'exam': 90, 'Grade': 'a'}], 'Name': 'paras Jain'}, {'student': [{'exam': 89, 'Grade': 'a'}, {'exam': 89, 'Grade': 'a'}], 'Name': 'chunky pandey'}]