<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/python_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# conacatenate two lists of list Row - wise
# method 1 using enumerate() + loop
# concatenate of 2 matrix
# what is the diffence between intialization and declaration of variable
test_list1 = [[1,4,7,5],[3,8,6,9],[3,4,5]]
test_list2 = [[1,3],[9,4,5,7],[8]]

#print(" original list1 is:",test_list1)
#print(" original list2 is:",test_list2)


for idx ,ele in enumerate(test_list1):
  new_vals = []

  # getting all the values at same index row
  for ele in test_list2[idx]:
      new_vals.append(ele)

  # extending the intial matrix
  test_list1[idx].extend(new_vals)

print("the concatenated matrix:",str(test_list1))

the concatenated matrix: [[1, 4, 7, 5, 1, 3], [3, 8, 6, 9, 9, 4, 5, 7], [3, 4, 5, 8]]

In [ ]:
# using the zip()+list.comprehension
test_list1 = [[1,4,7,5],[3,8,6,9],[3,4,5]]
test_list2 = [[1,3],[9,4,5,7],[8]]

#print(" original list1 is:",test_list1)
#print(" original list2 is:",test_list2)

res = list(sub1 + sub2 for sub1,sub2 in zip(test_list1,test_list2))
print("concatenated Matrix:",str(res))

concatenated Matrix: [[1, 4, 7, 5, 1, 3], [3, 8, 6, 9, 9, 4, 5, 7], [3, 4, 5, 8]]

In [ ]:
# using extend() + loop
test_list1 = [[1,4,7,5],[3,8,6,9],[3,4,5]]
test_list2 = [[1,3],[9,4,5,7],[8]]

for i in range(0,len(test_list1)):
    test_list1[i].extend(test_list2[i])

print("concatenated Matrix:",str(test_list1))

concatenated Matrix: [[1, 4, 7, 5, 1, 3], [3, 8, 6, 9, 9, 4, 5, 7], [3, 4, 5, 8]]

In [ ]:
# using numpy # all the matrixs have same no of dimensions
import numpy as np

#initializing lists
test_list1 = [[4, 3,4], [1, 2, 3], [3, 7, 4]]
test_list2 = [[1, 3,5], [9, 3, 5,], [8,7,5]]

#Printing original lists
#print("The original list 1 is : " + str(test_list1))
#print("The original list 2 is : " + str(test_list2))

#Using numpy to concatenate two lists row-wise
res = np.concatenate((test_list1, test_list2), axis = 1)

#printing result
print("The concatenated Matrix : " + str(res))

The concatenated Matrix : [[4 3 4 1 3 5]
 [1 2 3 9 3 5]
 [3 7 4 8 7 5]]

In [ ]:
# using the itertools
import itertools

test_list1 = [[4, 3,4], [1, 2, 3], [3, 7, 4]]
test_list2 = [[1, 3,5], [9, 3, 5,], [8,7,5]]

concatenated_matrix = [list(itertools.chain(*x)) for x in zip(test_list1,test_list2)]

print("The concatenated Matrix : " ,str(concatenated_matrix))

The concatenated Matrix :  [[4, 3, 4, 1, 3, 5], [1, 2, 3, 9, 3, 5], [3, 7, 4, 8, 7, 5]]

In [ ]:
#python program to conactenate every elemnts acros lists
test_list1 = ['ganesh',"is","good"]
test_list2 = ["skill","cs"]

#rint("The original list 1 is : ",(test_list1))
#print("The original list 2 is : " ,(test_list2))

# forming pairs
temp = [(a,b) for a in test_list1 for b in test_list2]

#performing concatenation
res = [x + '' + y for (x,y) in temp]

print("The paired combinations:",(res))

The paired combinations: ['ganeshskill', 'ganeshcs', 'isskill', 'iscs', 'goodskill', 'goodcs']

In [ ]:
# using product() + listcomprehension
from itertools import product

test_list1 = ['ganesh',"is","good"]
test_list2 = ["skill","cs"]

# concatenation using formatting and paring using product
res = ['%s %s' % (ele[0],ele[1]) for ele in product(test_list1,test_list2)]

print("The paired combinations:",(res))

The paired combinations: ['ganesh skill', 'ganesh cs', 'is skill', 'is cs', 'good skill', 'good cs']

In [ ]:
# using the map and join
from itertools import product

test_list1 = ['ganesh',"is","good"]
test_list2 = ["skill","cs"]

res = list(map("".join,product(test_list1,test_list2)))

print("The paired combinations:",(res))

The paired combinations: ['ganesh   skill', 'ganesh   cs', 'is   skill', 'is   cs', 'good   skill', 'good   cs']

In [ ]:
from IPython.utils import tempdir
# using itertools.product() and str.join
import itertools

test_list1 = ['ganesh',"is","good"]
test_list2 = ["skill","cs"]

# forming pairs
temp =  itertools.product(test_list1,test_list2)

res = [''.join(pair) for pair in temp]

print("The paired combinations:",(res))

The paired combinations: ['ganeshskill', 'ganeshcs', 'isskill', 'iscs', 'goodskill', 'goodcs']

In [ ]:
# python - elelment repetition in list
# using list comprehension
test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

#list comprehension  - to perform element duplication
res = [ i for i in test_list for x in (0,1)]

print("the list after element duplication:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after element duplication: [4, 4, 5, 5, 6, 6, 7, 7, 3, 3, 9, 9]

In [ ]:
# using itertools.chain().from_iterable() from_iterable function
import itertools

test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

res = list(itertools.chain.from_iterable([i,i] for i in test_list))

print("the list after element duplication:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after element duplication: [4, 4, 5, 5, 6, 6, 7, 7, 3, 3, 9, 9]

In [ ]:
# using repeat
from itertools import repeat
test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

res = [i for i in test_list for _ in repeat(None,2)]

print("the list after element duplication:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after element duplication: [4, 4, 5, 5, 6, 6, 7, 7, 3, 3, 9, 9]

In [ ]:
#  using extend() method ***************************
test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

res = []
for i in test_list:
  res.extend([i,i])

print("the list after element duplication:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after element duplication: [4, 4, 5, 5, 6, 6, 7, 7, 3, 3, 9, 9]

In [ ]:
# using slicing and concatenation
test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

res = list(i for i in test_list for x in range(2))

print("the list after element duplication:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after element duplication: [4, 4, 5, 5, 6, 6, 7, 7, 3, 3, 9, 9]

In [ ]:
# using numpy
import numpy as np

test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

# using numpy to perform element duplication
res = np.repeat(test_list,2)

print("the list after element duplication:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after element duplication: [4 4 5 5 6 6 7 7 3 3 9 9]

In [ ]:
# using heapq module
import heapq

test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

res = heapq.merge(test_list,test_list)
# converting to list
res = list(res)

print("the list after element duplication:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after element duplication: [4, 4, 5, 5, 6, 6, 7, 3, 7, 3, 9, 9]

In [ ]:
# repeat alternative elements in list
# list comprehension
test_list = [4,5,6,7,3,9]

print("the original list:",str(test_list))

# declaring magnitude of repetition
k = 3

res = [ele for idx,ele in enumerate(test_list)
        for i in range(k) if idx % 2 == 0]

print("the list after alternative repeating elements:",str(res))

the original list: [4, 5, 6, 7, 3, 9]
the list after alternative repeating elements: [4, 4, 4, 6, 6, 6, 3, 3, 3]

In [ ]:
# using itertools.chain.from_iterable() + itertools.repeat()
import itertools

test_list = [4,5,6,7,9]

print("the original list:",str(test_list))

k = 3

res = list(itertools.chain.from_iterable(itertools.repeat(ele,k)
               for idx,ele in enumerate(test_list) if idx % 2==0))

print("the list after alternative repeating elements:",str(res))

the original list: [4, 5, 6, 7, 9]
the list after alternative repeating elements: [4, 4, 4, 6, 6, 6, 9, 9, 9]

In [ ]:
# using extend() method and * operator
test_list = [4,5,6,7]

print("the original list:",str(test_list))

k = 3
res = []
for i in range(0,len(test_list)):
  if i%2 == 0:
    res.extend([test_list[i]]*k)

print("the list after alternative repeating elements:",str(res))

the original list: [4, 5, 6, 7]
the list after alternative repeating elements: [4, 4, 4, 6, 6, 6]

In [ ]:
# using slicing and extend() method
test_list = [4,5,6,7]
alternative_list = test_list[::2]

print("the original list:",str(test_list))

k = 3
res = []

for i in range(len(alternative_list)):
  res.extend([alternative_list[i]]*k)

print("the list after alternative repeating elements:",str(res))

the original list: [4, 5, 6, 7]
the list after alternative repeating elements: [4, 4, 4, 6, 6, 6]

In [ ]:
# approach by numpy library
import numpy as np
test_list = [4,5,6,7]

k = 3

res = np.repeat(np.array(test_list[::2]),k).tolist()  # what is the use of tolist()

print("the list after alternative repeating elements:",str(res))

the list after alternative repeating elements: [4, 4, 4, 6, 6, 6]

In [ ]:
# use map()+ lammda function
test_list = [4,5,6,7]

k = 3

res =[]

for idx,ele in enumerate(test_list):
  if idx % 2 ==0:
    res.extend(map(lambda x:ele,range(k)))  # how lambda() will work?

print("the list after alternative repeating elements:",str(res))

the list after alternative repeating elements: [4, 4, 4, 6, 6, 6]

In [ ]:
# using extend()+operator.mul() methods
test_list = [4,5,6,7]

k = 3
res = []
import operator
for i in range(0,len(test_list)):
  if(i%2==0):
    res.extend(operator.mul([test_list[i]],k))
print("the list after alternative repeating elements:",str(res))

the list after alternative repeating elements: [4, 4, 4, 6, 6, 6]

In [ ]:
# difference between two lists
# use "in" to find the the difference between two lists in python
li1 = [10,24,5,6,78,40]
li2 = [24,40,10]

temp3 = []
for element in li1:
  if element not in li2:
    temp3.append(element)

print(temp3)

[5, 6, 78]

In [ ]:
# use set() to find the difference between two lists
li1 = [10,24,5,6,78,40]
li2 = [24,40,10]

s = set(li2)  # why it is neccessary ??????????
temp3 = [x for x in li1 if x not in s]
print(temp3)

[5, 6, 78]

In [ ]:
# without usng set() function
def Diff(li1,li2):
  li_dif = list(i for i  in li1+li2 if i not in li1 or i not in li2)
  return li_dif

# Driver code
li1 = [10,15,20,25,30,35,40]
li2 = [25,40,35]
li3 = Diff(li1,li2)
print(li3)

[10, 15, 20, 30]

In [ ]:
# method using numpy numpy.concatenate()
import numpy as np
li1 = np.array([10,15,20,25,30,35,40])
li2 = np.array([25,40,35])

dif1 = np.setdiff1d(li1,li2)
dif2 = np.setdiff1d(li2,li1)

temp3 = np.concatenate((dif1,dif2))

print(list(temp3))

[10, 15, 20, 30]

In [ ]:
# use symmetric_difference function
li1 = [10,15,20,25,30,35,40]
li2 = [25,40,35]

set_dif = set(li1).symmetric_difference(set(li2))
temp3 = list(set_dif)
print(temp3)

[20, 10, 30, 15]

In [ ]:
# check if two lists are identical
# using list.sort() and == operator sort() coupled with == operator
# for this list should not contain duplicate elements
test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

print("The first list is : " + str(test_list1))
print("The second list is : " + str(test_list2))

# sorting
test_list1.sort()
test_list2.sort()

if test_list1 == test_list2:
  print("The lists are identical")
else:
  print("The lists are not identical")

The first list is : [1, 2, 4, 3, 5]
The second list is : [1, 2, 4, 3, 5]
The lists are identical

In [ ]:
# using collections.Counter() - this method  ignores the ordring of
# elements in the list and only takes into account the frequency of elements
import collections

test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

print("The first list is : " + str(test_list1))
print("The second list is : " + str(test_list2))

if collections.Counter(test_list1) == collections.Counter(test_list2):
  print("the lists are identical")
else:
  print("the lists are not identical")

The first list is : [1, 2, 4, 3, 5]
The second list is : [1, 2, 4, 3, 5]
the lists are identical

In [ ]:
# using sum()+zip()+len()
test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

# printing lists
print("The first list is : " + str(test_list1))
print("The second list is : " + str(test_list2))
# here 1 in the summmation sum([]) that elements are same at each(specific) index
# 1 = true and 0 = false
if len(test_list1) == len(test_list2) and len(test_list1) == sum([1 for i,j in zip(test_list1,test_list2) if i == j]):
     print("the lists are identical")
else:
  print("the lists are not identical")

The first list is : [1, 2, 4, 3, 5]
The second list is : [1, 2, 4, 3, 5]
the lists are identical

In [ ]:
import functools # **************review************

test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

print("The first list is : " + str(test_list1))
print("The second list is : " + str(test_list2))

# using map() + reduce() to check if
# lists are equal
if functools.reduce(lambda i,j:i and j,map(lambda m,k: m==k,test_list1,test_list2),True):
    print("The lists are identical")
else:
    print("The lists are not identical")

The first list is : [1, 2, 4, 3, 5]
The second list is : [1, 2, 4, 3, 5]
The lists are identical

In [ ]:
# using all() and zip()
test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

print("list1 : " ,test_list1)
print("list2 : " ,test_list2)

result = all(x == y for x,y in zip(test_list1,test_list2))

print("the lists are identical:",result)

list1 :  [1, 2, 4, 3, 5]
list2 :  [1, 2, 4, 3, 5]
the lists are identical: True

In [ ]:
# using operator.countOf() ********* very important *********
import operator as op

def checkIdentical(test_list1,test_list2):
  for i in test_list1:
    if op.countOf(test_list1,i) != op.countOf(test_list2,i):
      return False
  if(len(test_list1) != len(test_list2)):
    return False
  return True

test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

print("list1 : " ,test_list1)
print("list2 : " ,test_list2)

print(checkIdentical(test_list1,test_list2))

#if checkIdentical(test_list1,test_list2):
 # print("The lists are identical")
#else:
 # print("The lists are not identical")

list1 :  [1, 2, 4, 3, 5]
list2 :  [1, 2, 4, 3, 5]
True

In [ ]:
# using counter()
from collections import Counter

test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

print("list1 : " ,test_list1)
print("list2 : " ,test_list2)

if Counter(test_list1) == Counter(test_list2):
  print("The lists are identical")
else:
  print("The lists are not identical")

list1 :  [1, 2, 4, 3, 5]
list2 :  [1, 2, 4, 3, 5]
The lists are identical

In [ ]:
# combining two sorted lists **********revise*******
# naive method
test_list1 = [1, 5, 6, 9, 11]
test_list2 = [3, 4, 7, 8]

print("list1 : " ,test_list1)
print("list2 : " ,test_list2)

# usng the naive method
# to combine two sorted lists
size1 = len(test_list1)
size2 = len(test_list2)

res = []
i,j = 0,0  # why this step is important??

while i < size1 and j<size2:
  if test_list1[i] < test_list2[j]:
    res.append(test_list1[i])
    i += 1                      # what this expression denotes?

  else:
    res.append(test_list2[j])
    j += 1

res = res + test_list1[i:] +test_list[j:]

print("The combined sorted list is:",res)

list1 :  [1, 5, 6, 9, 11]
list2 :  [3, 4, 7, 8]
The combined sorted list is: [1, 3, 4, 5, 6, 7, 8, 9, 11]

In [43]:
# method 2 using sorted()
test_list1 = [1, 5, 6, 9, 11]
test_list2 = [3, 4, 7, 8]

print("list1 : " ,test_list1)
print("list2 : " ,test_list2)

res = sorted(test_list1+test_list2)

print("The combined sorted list is:",res)

list1 :  [1, 5, 6, 9, 11]
list2 :  [3, 4, 7, 8]
The combined sorted list is: [1, 3, 4, 5, 6, 7, 8, 9, 11]

In [44]:
# using heapq.merge()
from heapq import merge
test_list1 = [1, 5, 6, 9, 11]
test_list2 = [3, 4, 7, 8]

print("list1 : " ,test_list1)
print("list2 : " ,test_list2)

res = list(merge(test_list1,test_list2))

print("The combined sorted list is:",res)

list1 :  [1, 5, 6, 9, 11]
list2 :  [3, 4, 7, 8]
The combined sorted list is: [1, 3, 4, 5, 6, 7, 8, 9, 11]

In [45]:
# using extend and sort
test_list1 = [1, 5, 6, 9, 11]
test_list2 = [3, 4, 7, 8]

print("list1 : " ,test_list1)
print("list2 : " ,test_list2)

test_list1.extend(test_list2)
test_list1.sort()

print("The combined sorted list is:",test_list1)

list1 :  [1, 5, 6, 9, 11]
list2 :  [3, 4, 7, 8]
The combined sorted list is: [1, 3, 4, 5, 6, 7, 8, 9, 11]

In [46]:
# using nupy array
import numpy as np
test_list1 = [1, 5, 6, 9, 11]
test_list2 = [3, 4, 7, 8]

array1 = np.array(test_list1)
array2 = np.array(test_list2)

combined_array = np.concatenate((array1,array2))

sorted_combined_array = np.sort(combined_array)

res = sorted_combined_array.tolist()

print("The combined sorted list is:",res)

The combined sorted list is: [1, 3, 4, 5, 6, 7, 8, 9, 11]

In [47]:
# using itertools.chain() and sorted()
import itertools

test_list1 = [1, 5, 6, 9, 11]
test_list2 = [3, 4, 7, 8]

merged_list = sorted(itertools.chain(test_list1,test_list2))

print("The combined sorted list is:",list(merged_list))

The combined sorted list is: [1, 3, 4, 5, 6, 7, 8, 9, 11]