<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/python_practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# cloning or copying a list
def cloning(li1):
  li_copy = li1[:]
  return li_copy

# Driver Code
li1 = [4,8,2,10,15,18]
li2 = cloning(li1)

print("Original List:",li1)
print("After cloning:",li2)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# using the extend() method
def cloning(li1):
  li_copy = []
  li_copy.extend(li1)
  return li_copy

li1 = [4,8,2,10,15,18]
li2 = cloning(li1)
print("Original List:",li1)
print("After cloning:",li2)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#  List copy using =(assignment operator)
def cloning(li1):
  li_copy = li1
  return li_copy
#driver code
li1 = [4,8,2,10,15,18]
li2 = cloning(li1)
print("Original List:",li1)
print("After cloning:",li2)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# using method of shallow copy
import copy

li1 = [1,2,[3,5],4]
# using copy for shallow copy
li2 = copy.copy(li1)

print(li2)

[1, 2, [3, 5], 4]

In [ ]:
# using list comprehension
def cloning(li1):
  li_copy = [i for i in li1]
  return li_copy
# Driver code
li1 = [4,8,2,10,15,18]
li2 = cloning(li1)
print("Original List:",li1)
print("After cloning:",li2)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# using the append() method
def cloning(li1):
  li_copy = []
  for item in li1: li_copy.append(item)
  return li_copy
# driver code
li1 = [4,8,2,10,15,18]
li2 = cloning(li1)
print("Original List:",li1)
print("After cloning:",li2)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# using copy() method
def cloning(li1):
  li_copy = []
  li_copy = li1.copy()
  return li_copy

li1 = [4,8,2,10,15,18]
li2 = cloning(li1)
print("Original List:",li1)
print("After cloning:",li2)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# using method of Deep copy
import copy

li1 = [1,2,[3,5],4]

li3 = copy.deepcopy(li1)
print(li3)

[1, 2, [3, 5], 4]

In [ ]:
# using enumerate function
lst = [4,8,2,10,15,18]
li_copy = list(i for a,i in enumerate(lst))
print("Original List:",lst)
print("After cloning:",li_copy)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# using the map()
lst = [4,8,2,10,15,18]
li_copy = map(int,lst)
print("Original List:",lst)
print("After cloning:",*li_copy)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: 4 8 2 10 15 18

In [ ]:
# use slice() function
lst = [4,8,2,10,15,18]
li_copy = lst[slice(len(lst))]
print("Original List:",lst)
print("After cloning:",li_copy)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# using the deque() function
from collections import deque
org_lst = [4,8,2,10,15,18]

copied_lst = deque(org_lst) # deque object
copied_lst = list(copied_lst)

print("Original List:",org_lst)
print("After cloning:",copied_lst)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#  using reduce method():  #***********revise******************
from functools import reduce
def clone_list(li1):
    return reduce(lambda x,y:x+[y],li1,[])

li1 = [4,8,2,10,15,18]
li2 = clone_list(li1)
print("Original List:",li1)
print("After cloning:",li2)

Original List: [4, 8, 2, 10, 15, 18]
After cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# Sort the values of first list using second list in python
def sort_list(lst1,lst2):
  zipped_pairs = zip(lst2,lst1)
  z = [x for _,x in sorted(zipped_pairs)]
  return z

x = ["a","b","c","d","e","f","g","h","i"]
y = [0,   1,   1,  0,  1,  2,  0,  2,  1]
print(sort_list(x,y))

x = ["g", "e", "e", "k", "s", "f", "o", "r", "g", "e", "e", "k", "s"]
y = [0,   1,   1,    0,   1,   2,   2,   0,   1]

print(sort_list(x,y))

['a', 'd', 'g', 'b', 'c', 'e', 'i', 'f', 'h']
['g', 'k', 'r', 'e', 'e', 'g', 's', 'f', 'o']

In [ ]:
# By using dictionary,list comprehension ,lambda function
def sorting_of_element(lst1,lst2):
  f_1 = {} # intializing empty dictionary

  final_list =[]  # intializing empty list
  # addition of two lists in one dictionary
  f_1 ={lst1[i]:lst2[i] for i in range(len(lst2))}

  # sorting of dictionary based on value
  f_lst = {k: v for k,v in sorted(f_1.items(),key=lambda item:item[1])}

  # element addition in the list
  for i in f_lst.keys():
    final_list.append(i)
  return final_list

lst1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
lst2 = [0,   1,   1,    0,   1,   2,   2,   0,   1]

lst3 = sorting_of_element(lst1,lst2)
print(lst3)

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

In [ ]:
# using sort(),list() and set()
lst1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
lst2 = [0,   1,   1,    0,   1,   2,   2,   0,   1]

a = list(set(lst2))
a.sort()
res = []
for i in a:
  for j in range(0,len(lst2)):
    if lst2[j] == i:
      res.append(lst1[j])
print(res)

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

In [ ]:
# using collections.OrderedDict()
from collections import OrderedDict
lst1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
lst2 = [0,   1,   1,    0,   1,   2,   2,   0,   1]
d = OrderedDict(zip(lst1,lst2))
res = lst(OrderedDict(sorted(d.items(),key=lambda x: x[1])))
print(res)

In [ ]:
# using the numpy.argsort() function with fancy indexing
import numpy as np

def sort_list(lst1,lst2):
# use the numpy's argsort function to get the indices that would sort the second list
    idx = np.argsort(lst2)
# Index  the first lst using the sorted indices and return the result as numpy array
    return  np.array(lst1)[idx]

x = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]  # why it was taking other than arguments passed as correct?
y = [0,   1,   1,    0,   1,   2,   2,   0,  1]

print(sort_list(x,y))

['a' 'd' 'h' 'b' 'c' 'e' 'f' 'g']

In [ ]:
# list comprehension
n = [1,2,3,4,5]
squared = [x**2 for x in n]
print(squared)

[1, 4, 9, 16, 25]

In [ ]:
# iterate through loop
list = [character for character in [1,2,3]]
print(list)

[1, 2, 3]

In [ ]:
# even list using comprehension
lst = [i for i in range(11) if i % 2 == 0]
print(lst)

[0, 2, 4, 6, 8, 10]

In [ ]:
# matrix using list comprehension
matrix = [[j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# list comprehension vs For loop
lst = []
for character in 'Ganesh chowdary!':
   lst.append(character)

print(lst)

['G', 'a', 'n', 'e', 's', 'h', ' ', 'c', 'h', 'o', 'w', 'd', 'a', 'r', 'y', '!']

In [ ]:
# time analysis in list comprehensions and loop   ***** REvise******
import time

def for_loop(n):
  result = []
  for i in range(n):
    result.append(i**2)
  return result

def list_comprehension(n):
  return [i**2 for i in range(n)]

# calculate time taken by for_loop()
begin = time.time()
for_loop(10**6)
end = time.time()

# display time taken by for_loop()
print('Time taken for_loop:',round(end-begin,2))

# calculate time taken by list_comprehension()
begin = time.time()
list_comprehension(10**6)
end = time.time()

# display time taken by for_loop()
print('Time taken for list_comprehension:',round(end-begin,2))

Time taken for_loop: 0.67
Time taken for list_comprehension: 0.57

In [ ]:
# Nested list comprehensions
matrix = []
for i in range(3):
  # append an empty sublist inside the list
  matrix.append([])

  for j in range(5):
    matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# nested list comprehensions ,
matrix = [[j for j in range(5)] for i in range(3)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# LIST comprehension and lambda
numbers = []
for i in range(1,6):
  numbers.append(i*10)
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
#list comprehension
numbers = [i*10 for i in range(1,6)]
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
# using lambda()
numbers = list(map(lambda i: i*10,[i for i in range(1,6)]))
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
# conditionals in List comprehension
# python List comprehension using if-else
lis = ["even number" if i%2 == 0
       else "odd number" for i in range(8)]
print(lis)

['even number', 'odd number', 'even number', 'odd number', 'even number', 'odd number', 'even number', 'odd number']

In [ ]:
# nested IF with List Comprehension
lis = [num for num in range(100)
         if num%5 == 0 if num%10 == 0]
print(lis)       # why it is giving 0 ????????????? o is itself a multiple of every number
# what is difference between not defined and infinity?

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# square of numbers
li = [n**2 for n in range(1,11)]

print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# display transpore of 2D - Matrix axis - 1 and axis -0 ***** revise*******
twoDMatrix = [[10, 20, 30],
              [40, 50, 60],
              [70, 80, 90]]

trans = [[i[j] for i in twoDMatrix] for j in range(len(twoDMatrix[0]))]

print(trans)

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [ ]:
# toggle the case of each character in a string  ***revise***
string = 'ganeshchowdary'  #XOR OPERATOR
list = list(map(lambda i: chr(ord(i)^32),string))
print(list)

['G', 'A', 'N', 'E', 'S', 'H', 'C', 'H', 'O', 'W', 'D', 'A', 'R', 'Y']

In [ ]:
# reverse each string in a tuple
list = [string[::-1] for string in ("ganesh","chowdary")]

print(list)

['hsenag', 'yradwohc']

In [ ]:
# creating a list of tuples from two seperate lists
names = ['A','G','C']
ages = [25,30,35]
person_tuples = [(name,age) for name,age in zip(names,ages)]
print(person_tuples)

[('A', 25), ('G', 30), ('C', 35)]

In [ ]:
# display the sum of digits of all the odd elements in a list
def digitSum(n):
  dsum = 0           # ************REVISE*****************
  for ele in str(n):
    dsum += int(ele)
  return dsum

list = [367,111,562,945,6726,873]
# using the function on odd elements of the list
newlist = [digitSum(i) for i in list if i & 1]

print(newlist)

[16, 3, 18, 18]

In [ ]:
# iterate over a list in python
list = [1,2,3,4,5]
for i in list:
  print(i,end=",")

1,2,3,4,5,

In [29]:
# for loop and range()
lis = [1,2,3,4,5,6,7]
len = len(lis)
for i in range(len):
  print(lis[i])

TypeError: ignored

In [ ]:
# using while loop
lst = [1,2,3,4,6,7]

i = 0

while i< len(lst):
  print(lst[i])
  i += 1

TypeError: ignored

In [30]:
list = [1, 3, 5, 7, 9]
[print(i) for i in list]

1
3
5
7
9

[None, None, None, None, None]

In [35]:
# iterate using enumerate()
list = [1,23,4,67,7,6]

for i,val in enumerate(list):
  print(i ,' ',val)

0   1
1   23
2   4
3   67
4   7
5   6

In [40]:
# using numpy iterate
import numpy as np
a = np.arange(9)
# shape array with 3 rows and 3  columns
a = a.reshape(3,3)
# iterating an array
for x in np.nditer(a):
  print(x,end=" ")

print(a)

0 1 2 3 4 5 6 7 8 [[0 1 2]
 [3 4 5]
 [6 7 8]]

In [41]:
# iterate by using iter function
list = [1,23,4,67,7,6]   #****REVISE******
# create an iterator object using the iter function
iterator = iter(list)

# use the next() to retrieve the elements of the iterator
try:
  while True:
    element = next(iterator)
    print(element)
except StopIteration:
  pass

1
23
4
67
7
6

In [43]:
# Iterate using map() ****** Revise*****
def print_element(ele):
    print(ele)

my_lst = [1,23,3,455,76,8]

result = map(print_element,my_lst)

for _ in result:
  pass

1
23
3
455
76
8

In [44]:
# Itearate over multiple lists simultaneously
# zip()
import itertools
num = [1,2,3]
color = ['red','white','blak']
value = [255,256]
# iterates over 3 lists and executes 2 times as len(value) = 2 which is the min
# among all the three
for (a,b,c) in zip(num,color,value):
  print(a,b,c)

1 red 255
2 white 256

In [45]:
# itertools.zip_longest()
import itertools

num = [1,2,3]
color = ['red','white','blak']
value = [255,256]

for (a,b,c) in itertools.zip_longest(num,color,value):
  print(a,b,c)

1 red 255
2 white 256
3 blak None

In [46]:
# we can also fill specific value to default None by fillvalue = -1 or t
import itertools

num = [1,2,3]
color = ['red','white','blak']
value = [255,256]

for (a,b,c) in itertools.zip_longest(num,color,value,fillvalue=8):
  print(a,b,c)

1 red 255
2 white 256
3 blak 8

In [50]:
# using enumerate () to iterate over multiple lists
list1 = [1, 2, 3]           # *****REVISE******
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

for i,ele in enumerate(list1):
  print(ele,list2[i],list3[i])

1 a x
2 b y
3 c z

In [51]:
# using zip() multiple lists iteration
for item1,item2,item3 in zip((1,2,3),('a','b','c'),(True,False,True)):
  print(item1,item2,item3)

1 a True
2 b False
3 c True

In [52]:
# list methods in python
# append()
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(209877)
print(List)

['Mathematics', 'chemistry', 1997, 2000, 209877]

In [53]:
# insert()
list = ['Mathematics', 'chemistry', 1997, 2000]
list.insert(2,1441414)
print(list)

['Mathematics', 'chemistry', 1441414, 1997, 2000]

In [54]:
# extend()
lis = [1,2,3,4]
lis1 = [5,6,7,8]
lis.extend(lis1)
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
list = [1,2,4,5,6,7]
print(sum(list))

25

In [57]:
list = [1,2,4,5,6,7,7]
print(list.count(7))

2

In [59]:
list = [1,2,4,5,6,7]
print(len(list))

TypeError: ignored

In [63]:
list = [1,2,4,5,6,7]
print(list.index(2))

1

In [62]:
# what is the meaning of this ????///
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2, 2))

4

In [65]:
numbers = [2,43,53,4,6,878,33,3]
print(min(numbers))
print(max(numbers))

2
878

In [66]:
# sort() and reverse()
list = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
# what is reverse flag
# reverse flag is set True
list.sort(reverse=True)
# list.sort().reverse() ,reverses the sorted list
print(list)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

In [71]:
# Deletion of list elements
# pop() , remove() and keywords such as del
list = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
#print(list.pop())
#print(list.pop(1))
# del keyword
#del list[0]
#print(list)
# remove
list.remove(3)
print(list)

[2.3, 4.445, 5.33, 1.054, 2.5]