<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/python_practice5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# taking input in python
# two inbuilt functions to read input from the user
# input(prompt)
# raw_input(prompt)
input = input("enter the data")  #\n - it causes a line break
print(input)

enter the dataganesh chowdary
ganesh chowdary

In [ ]:
x, y = [int(x) for x in input("Enter two values: ").split()]
print("First Number is: ", x)
print("Second Number is: ", y)

# taking three input at a time
x, y, z = [int(x) for x in input("Enter three values: ").split()]
print("First Number is: ", x)
print("Second Number is: ", y)
print("Third Number is: ", z)

# taking two inputs at a time
x, y = [int(x) for x in input("Enter two values: ").split()]
print("First number is {} and second number is {}".format(x, y))

# taking multiple inputs at a time
x = [int(x) for x in input("Enter multiple values: ").split()]
print("Number of list is: ", x)

Enter two values: 1 2
First Number is:  1
Second Number is:  2
Enter three values: 1 2 3
First Number is:  1
Second Number is:  2
Third Number is:  3
Enter two values: 5 6
First number is 5 and second number is 6
Enter multiple values: 45 676 87578 2323
Number of list is:  [45, 676, 87578, 2323]

In [ ]:
# python operators
# arithematic,comparison,logical,Bitwise,Assignment,Identity and Membership
# artithematic - addition,subtraction,multiplication and division
# result of division is a floating point in python
#To obtain an integer result in Python 3.x floored (// integer) is used.

In [ ]:
# Division operators - float and floor
#float division returns quotient
print(5/5)
print(10/2)
print(-10/2)
print(20.0/2)

1.0
5.0
-5.0
10.0

In [ ]:
# Integer division(floor) - qoutient dependent on the argument being passed
# if any one  number is float,it returns float same like negative numbers
print(5//5)
print(10//2)
print(-10//2)
print(20.0//2)

1
5
-5
10.0

In [ ]:
# precedence of arthematic operators
# P E D/M A S
# The modulus operator helps us extract the last digits of a number
print(567%10)
print(567%100)

7
67

In [ ]:
# examples
a = 9
b = 4

add = a+b

sub = a-b

mul = a*b

mod = a%b

p = a**b

print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

In [ ]:
# comparison operators in python
# > , < ,  == ,  !=, >=,  =<  have same preceedence and lower preceedence than arithematic operators
a = 9
b = 4

print(a >b)


print(a < b)


print(a == b)


print(a != b)


print(a >= b)

print(a <= b)

True
False
False
True
True
False

In [ ]:
# logical operators
# AND ,OR ,NOT
# preceedence not > and > or
# example
a = True
b = False

print(a and b)


print(a or b)


print(not b)

False
True
True

In [2]:
# Bitwise operators
# acts on bits and perform bit-by-bit operations .These ar used to operate on binary numbers
# & - AND ,| -  OR, ~ - NOT,^ -XOR, >> - Right shift, << - Left shift
# precedence - not>shift>and>xor>or
a = 9
b = 4

print(a & b)


print(a | b)


print(~ b)


print(a ^ b)


print(a >> 2)

print(a << 2)

# practice on paper

0
13
-5
13
2
36

In [3]:
# assigment operators
# = ,+=,-=,*/,/=,%=,//=,**=,&=,|=,^=,>>=,<<=
a = 10

b = a

b += a
print(b)

b -= a
print(b)

b *= a
print(b)

# bitwise lishift operator
b <<= a
print(b)

20
10
100
102400

In [4]:
# identity operators
# is ,isnot
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [5]:
# membership operators
#in , notin
x = 24
y = 20
li = [10,20,30,40,50]

if x not in li:
  print("x is not present in list")
else:
  print("x is present in list")

if y in li:
  print("y is present in list")
else:
  print("y is not in list")

x is not present in list
y is present in list

in Python, Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false. It was added to Python in version 2.5.

It simply allows testing a condition in a single line replacing the multiline if-else making the code compact.

In [7]:
# ternary operator
a,b = 10,30

# copy value of a in min if a<b else copy b
min = a if a < b else b
print(b)

30

In [9]:
# precedence and associativity of operators
expr = 10+20*30
print(expr)

name = "ganesh"
age = 0

if name == "ganesh" or name == "are" and age >=21:
     print("hello ganesh")
else:
  print("good bye!")

610
hello ganesh

If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. It can either be Left to Right or from Right to Left.

In [10]:
# operators associativity
# left - right
print(100/10*10)
# l - r
print(5-2+3)
#l - r
print(5 - (2+3))
# right - left
print(2**3**2)

100.0
6
0
512

Ternary Operator Examples
Here we will see the different example to use Python Ternary Operator:

Ternary Operator in Python If-Else,
Python Ternary Operator using Tuples,
Python Ternary Operator using Dictionary,
Python Ternary Operator using Lambda,
Print in if Ternary Operator,
Limitations of Python Ternary Operator

In [12]:
# ternary operator in python if else
# using native way
a,b = 10,30

if a != b:
  if a>b:
    print("a is greater than b")
  else:
    print("b is greater than a")
else:
  print("Both a and b are equal")

b is greater than a

In [13]:
# using ternary operator
a,b = 10,20

print("Both a and b are equal" if a == b else "a is greater than b"
        if a > b else "b is greater than a")

b is greater than a

In [16]:
# ternary and bitwise operator ----- Revise ----
a,b = 10,20
# with tuple
print((a,b)[a<b])

20

In [19]:
# ternary operator with dictionary
a, b = 10,20
print({True:b,False:a} [a>b])

10

In [22]:
# ternary operator with lambda
a, b = 10,20
print((lambda :b,lambda:a)[a<b]())

10

In [23]:
# print in if ternary operator
a = 5
b = 7
print(a,"is greater") if a>b else print(b,"is greater")

7 is greater

In [ ]:
# division operators in python
# float // and floor division /
# matrix multiplication ,linear algebra and numerical integration

In [24]:
# float division
print(5/5)
print(10/2)
print(-10/2)
print(20.0/2)

1.0
5.0
-5.0
10.0

In [25]:
# floor division
print(5//5)
print(3//2)
print(10//3)

1
1
3

In [26]:
print (5//2)
print (-5//2)

2
-3

In [27]:
# A Python program to demonstrate use of
# "//" for both integers and floating points
print (5//2)
print (-5//2)
print (5.0//2)
print (-5.0//2)

2
-3
2.0
-3.0

In [29]:
# is division operator on boolean values possible
# what is overloading    *******REVISE*********
class MyClass:
   def _init_(self,value):
       self.value = value

   def _truediv_(self,other):
     return MyClass(self.value and other.value)

a = MyClass(True)
b = MyClass(False)
c = a/b
print(c.value)

TypeError: ignored

Operator Overloading means giving extended meaning beyond their predefined operational meaning. For example operator + is used to add two integers as well as join two strings and merge two lists. It is achievable because ‘+’ operator is overloaded by int class and str class. You might have noticed that the same built-in operator or function shows different behavior for objects of different classes, this is called Operator Overloading.

In [30]:
# OPERATOR Overloading
#+ is overloaded by int and string class
print(1+4)

print("are"+" ganesh")

print(3*4)

print("Ganesh"*4)

5
are ganesh
12
GaneshGaneshGaneshGanesh

Whenever you change the behavior of the existing operator through operator overloading, you have to redefine the special function that is invoked automatically when the operator is used with the objects.

In [ ]:
# we can overload all existing operators  but we can not create new operator
# how  does operator overloading actually work? # why do we us self kw ?
class A:
  def _init_(self,a):
      self.a = a

  def _add_(self,o):
      return self.a + o.a

ob1 = A(1)
ob2 = A(2)
ob3 = A("ganesh")
ob4 = A("are")

print(ob1 + ob2)
print(ob3 + ob4)

# Actual working when Binary operator is used
print(A._add_(ob1,ob2))
print(A._add_(ob3,ob4))

# and can also be understand as
print(ob1._add_(ob2))
print(ob3._add_(ob4))