<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/python_practice_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python tuples
tuple1 = ()
print("intial empty tuple:")
print(tuple1)

intial empty tuple:
()

In [ ]:
tu1 = ("ganesh","for")
print(tu1)

('ganesh', 'for')

In [ ]:
list1 = [1,2,3,4,5,6]
print(tuple(list1))

(1, 2, 3, 4, 5, 6)

In [ ]:
# creating a tuple using inbuilt function tuple
tu1 = tuple("ganesh")
print(tu1)

('g', 'a', 'n', 'e', 's', 'h')

In [ ]:
#tu = (5,'ganesh',[1,'are'])
#print(tu)

# creating nested tuples
#tu1 = (1,2,3,4)
#tu2 = ('ganesh','are')
#tu3 = (tu1,tu2)
#print(tu3)

# creating tuple repeats
#tu4 = ('ganesh') * 3
#print(tu4)

# craeting tuple with the use of loop
n= 5
for i in range(int(n)):
    tu = (tu)
    print(tu)

(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])

In [ ]:
# accesing of tuples
tu1 = tuple('ganesh')
print(tu1[0])

g

In [ ]:
# tuple unpacking
tu1 = ("ganesh","for","are")

a,b,c = tu1
print(a)
print(b)
print(c)

ganesh
for
are

In [ ]:
# conacatenation of tuples
tu1 = (0,1,2,3)
tu2 = ('geeks','for','geeks')
tu3 = tu1+tu2
print(tu3)

(0, 1, 2, 3, 'geeks', 'for', 'geeks')

In [ ]:
# slicing of tuple
tu1 = tuple("ganeshchowdary")
print(tu1[1:])

print(tu1[::-1])

print(tu1[4:9])

('a', 'n', 'e', 's', 'h', 'c', 'h', 'o', 'w', 'd', 'a', 'r', 'y')
('y', 'r', 'a', 'd', 'w', 'o', 'h', 'c', 'h', 's', 'e', 'n', 'a', 'g')
('s', 'h', 'c', 'h', 'o')

In [ ]:
# deleting a tuple
tu1 = (0,1,2,3,4)

del tu1
print(tu1)

NameError: ignored

In [ ]:
# creating tuple from string and list - python
test_list = ['ganesh','is']
test_str = "best"
# using list conversion to tuple + tuple()
res = tuple(test_list+[test_str])

print("aggregated tuple:",res)

aggregated tuple: ('ganesh', 'is', 'best')

In [ ]:
#Create a tuple from string and list Using Tuple conversion to tuple + tuple()
test_list = ['ganesh','is']
test_str = "best"
# using list conversion to tuple + tuple()
res = (test_str,)+tuple(test_list)

print("aggregated tuple:",res)

aggregated tuple: ('best', 'ganesh', 'is')

In [ ]:
#Create a tuple from string and list Using list+ tuple+ copy()+append()
og_list = ['ganesh','is']
og_str = 'best'

new_list = og_list.copy()
new_list.append(og_str)

new_tu = tuple(new_list)
print("the aggregated tuple is:",new_tu)

the aggregated tuple is: ('ganesh', 'is', 'best')

In [ ]:
#Create a tuple from string and list Using the + operator
lst = ["ganesh","is"]
strg = "best"

result = tuple(lst+[strg])
print(result)

('ganesh', 'is', 'best')

In [ ]:
def create_tuple(string, lst):
    lst.extend([string])
    return tuple(lst)

# Driver Code
original_list = ['gfg', 'is']
original_string = 'best'

result = create_tuple(original_string, original_list)

print("The original list : ", original_list)
print("The original string : ", original_string)
print("The aggregated tuple is : ", result)

The original list :  ['gfg', 'is', 'best']
The original string :  best
The aggregated tuple is :  ('gfg', 'is', 'best')

In [ ]:
# access front and rear element of python tuple
test_tu = (10,3,4,6,7)
res = (test_tu[0],test_tu[-1])
print(res)

(10, 7)

In [ ]:
# using itemgetter()
from operator import itemgetter

test_tu = (10,4,5,6,7)

res = itemgetter(0,-1)(test_tu)

print(res)

(10, 7)

In [ ]:
# using indexing
test_tu = (10,4,5,6,7)

res = (test_tu[0],test_tu[len(test_tu)-1])

print(res)

(10, 7)

In [ ]:
# unpacking tuple
test_tu = (10,4,5,6,7)
# accesing the front and rear element of tuple
# unpacking the tuple
front,*_,rear = test_tu

res = (front,rear)

print(res)

(10, 7)

In [ ]:
# using slicing
test_tu = (10,4,5,6,7)

front = test_tu[0]
rear = test_tu[-1]

res = (front,rear)

print(res)

(10, 7)

In [ ]:
# using tuple() constructor and concatenation
test_tu = (10,4,5,6,7)

front = test_tu[0]
rear = test_tu[-1]

res = tuple([front])+tuple([rear])

print(res)

(10, 7)

In [ ]:
# using list comprehension
test_tu = (10,4,5,6,7)

res = tuple([test_tu[i] for i in [0,-1]])

print(res)

(10, 7)

In [ ]:
# ways to concatenate tuples
# using +operator
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

res = test_tup1+test_tup2
print(res)

(1, 3, 5, 4, 6)

In [ ]:
# using sum()
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

res = sum((test_tup1,test_tup2),())

print(res)

(1, 3, 5, 4, 6)

In [ ]:
# using list() and extend() methods
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

x = list(test_tup1)
y = list(test_tup2)
x.extend(y)
res = tuple(x)

print(res)

(1, 3, 5, 4, 6)

In [ ]:
# using itertools.chain()
import itertools
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

tup3 = tuple(itertools.chain(test_tup1,test_tup2))

print(tup3)

(1, 3, 5, 4, 6)

In [ ]:
# using tuple() constructor and the *operator

test_tup1 = (1, 3, 5)
test_tup2 = (4,6)

res = tuple(test_tup1+test_tup2)

print(res)

(1, 3, 5, 4, 6)

In [ ]:
# using the += operator and the += method
test_tup1 = (1, 3, 5)
test_tup2 = (4,6)

test_tup1 += test_tup2

print(test_tup1)

(1, 3, 5, 4, 6)

In [ ]:
# using reduce
from functools import reduce
concat_tuples = lambda t1,t2 :reduce(lambda x,y: x+y ,[t1,t2])

t1 = (1, 3, 5)
t2  = (4,6)

concatenated_tuple = concat_tuples(t1,t2)
print(concatenated_tuple)

(1, 3, 5, 4, 6)

In [ ]:
# clearing a tuple
# using list() + clear() + tuple()

test_tup = (1, 5, 3, 6, 8)

temp = list(test_tup)
temp.clear()
test_tup = tuple(temp)

print(test_tup)

()

In [ ]:
# reintializing using tuple()

test_tup = (1, 5, 3, 6, 8)

test_tup = tuple()

print(test_tup)

()

In [ ]:
# using *operator

test_tup = (1, 5, 3, 6, 8)

test_tup = test_tup * 0

print(test_tup)

()

In [ ]:
# using slicing and concatenation

test_tup = (1, 5, 3, 6, 8)

# Clearing a tuple using slicing and concatenation
test_tup = test_tup[0:0] + ()

print(test_tup)

()

In [ ]:
# using del keyword
test_tup = (1, 5, 3, 6, 8)

del test_tup

print(())

()

In [1]:
# sets - unordered colection of data- that is iterable and mutable
# this is based on datastructure known as hash table - indexes are not valid
var = {'ganesh','raghavendra','shreya'}
type(var)

set

In [3]:
# type casting with python set method
myset = set(['a','b','c'])
print(myset)

# adding element to the set
myset.add('d')
print(myset)

{'c', 'b', 'a'}
{'d', 'c', 'b', 'a'}

In [5]:
# check unique and immutable with python set
myset = {'ganesh','raghavendra','shreya'}
print(myset)

# values of a set canot be changed
myset[1] = 'Hello'
print(myset)

{'ganesh', 'shreya', 'raghavendra'}

TypeError: ignored

In [6]:
# heterogenous elements with python set
myset = {'ganesh','raghavendra','shreya',10,43.6,True}
print(myset)

{True, 'raghavendra', 'shreya', 10, 43.6, 'ganesh'}

In [7]:
# python frozen sets
# immutable objects - that supports only methods and operators that produce result
# without affecting the frozen  sets
normal_set = set(['a','b','c'])
print('Normalset')
print(normal_set)

frozen_set = frozenset(['e','f','g'])
print('\nfrozenset')
print(frozen_set)

Normalset
{'c', 'b', 'a'}

frozenset
frozenset({'f', 'g', 'e'})

In [9]:
# methods for sets
# adding elements to python sets
# set.add()

myset = {'ganesh','raghavendra','shreya'}
print('myset:',end = " ")
print(myset)

myset.add("Sreeram")

# adding elements to the set using iterator
for i in range(1,6):
  myset.add(i)

print("after adding element:",end = " ")
print(myset)

myset: {'ganesh', 'shreya', 'raghavendra'}
after adding element: {1, 2, 3, 4, 5, 'shreya', 'Sreeram', 'raghavendra', 'ganesh'}

In [10]:
# union operation on python sets
myset = {'ganesh','raghavendra','shreya'}
newset = {'sreeram','saba farheen','kohli'}
diffset = {'deepesh','raghav','vinod'}

# union()
community = myset.union(newset)

print(community)

# using union "|"
community = myset|diffset

print(community)

{'kohli', 'saba farheen', 'raghavendra', 'ganesh', 'sreeram', 'shreya'}
{'deepesh', 'vinod', 'raghavendra', 'ganesh', 'shreya', 'raghav'}

In [11]:
# intersection operation on python sets
# () or & operator

set1 = set()
set2 = set()

for i in range(5):
  set1.add(i)

for i in range(3,9):
  set2.add(i)

set3 = set1.intersection(set2)
print(set3)

# intersection using "&" operator
set3 = set1 & set2
print(set3)

{3, 4}
{3, 4}

In [12]:
# finding differencees of sets in python
# difference() or - operator
set1 = set()
set2 = set()

for i in range(5):
  set1.add(i)

for i in range(3,9):
  set2.add(i)

set3 = set1.difference(set2)
print(set3)

# difference by the "-" operator
set3 = set1 - set2
print(set3)

{0, 1, 2}
{0, 1, 2}

In [13]:
# clearing python sets
# set clear()

set1 = {1,2,3,4,5,6}

print(set1)

set1.clear()

print(set1)

{1, 2, 3, 4, 5, 6}
set()

In [14]:
# appending multiple elements in set
# using update method
test_set = {6,4,2,7,9}

print(test_set)

up_ele = [1,5,19]

test_set.update(up_ele)

print("set after the adding elements:",test_set)

{2, 4, 6, 7, 9}
set after the adding elements: {1, 2, 19, 4, 5, 6, 7, 9}

In [15]:
# using | opeartor (Pipe operator)
test_set = {6,4,2,7,9}

print(test_set)

up_ele = [1,5,19]

test_set |= set(up_ele)

print(test_set)

{2, 4, 6, 7, 9}
{1, 2, 19, 4, 5, 6, 7, 9}

In [17]:
# list comprehension
test_set = {6,4,2,7,9}
test_list = list(test_set)

print(test_set)

up_ele = [1,5,19]

test_list += [ele for ele in up_ele if ele not in test_list]

print(test_list)

{2, 4, 6, 7, 9}
[2, 4, 6, 7, 9, 1, 5, 19]

In [18]:
# use reduce() method
from functools import reduce
test_set = {6,4,2,7,9}

print(test_set)

up_ele = [1,5,19]

# using reduce() and union() function to append elements to set
result_set = reduce(lambda res,ele: res.union(set([ele])),up_ele,test_set)

print(result_set)

{2, 4, 6, 7, 9}
{1, 2, 19, 4, 5, 6, 7, 9}

In [19]:
# python set|update ()
list1 = [1, 2, 3]
list2 = [5, 6, 7]
list3 = [10, 11, 12]
set1 = set(list2)
set2 = set(list1)
set1.update(set2)
print(set1)
set1.update(list3)
print(set1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7, 10, 11, 12}

In [20]:
# add elements of the dictionary to set
number = {1,2,3,4,5}
num_Dict = {6:'Six',7:'Seven',8:'Eight',9:'Nine',10:'Ten'}

number.update(num_Dict)
print("updated set:",number)

updated set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
# python | remove items from set
# set in python
# pop() method
# discard() method
# remove () method

# remove by pop() method
def Remove(intial_set):
  while intial_set:
    intial_set.pop()
    print(intial_set)

intial_set = set([12,10,13,15,8,9])
Remove(intial_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [22]:
# remove items from set using discard() method
my_set = set([12,10,13,15,8,9])

while my_set:
  my_set.discard(max(my_set))
  print(my_set)

{8, 9, 10, 12, 13}
{8, 9, 10, 12}
{8, 9, 10}
{8, 9}
{8}
set()

In [23]:
# delete elements from set using remove() method
my_set = set([12,10,13,15,8,9])

for i in range(len(my_set)):
  my_set.remove(next(iter(my_set)))
  print(my_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [24]:
# checking if a set contains an element in python ?
# using "in" operator
import random

data = {7058,7059,7072,7074,7076}

print(7058 in data)

print(7059 in data)

print(7071 in data)

True
True
False

In [25]:
# using not in operator
import random

data = {7058,7059,7072,7074,7076}

print(7058 not in data)

print(7059 not in data)

print(7071 not in data)

False
False
True

In [26]:
# using counter() function
from collections import Counter

data = {7058,7059,7072,7074,7076}

freq = Counter(data)

print(7058 in freq.keys())

print(7059 in freq.keys())

print(7071 in freq.keys())

True
True
False

In [27]:
# using operator.countOf() method
import operator as op

data = {7058,7059,7072,7074,7076}


print(op.countOf(data,7058) > 0)

print(op.countOf(data,7059) > 0)

print(op.countOf(data,7071) > 0)

True
True
False

In [29]:
# python dictionary

Dict = {1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}
print(Dict)

{1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}

In [30]:
# integers as keys and strings as keys
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict)

Dict = {'Name':'Geeks',1:[1,2,3,4]}
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

In [32]:
# different ways to create python dictionary
Dict = {}
print(Dict)

# one way
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict)

# second method - by the dict() constructor
Dict = dict([(1,'Ganesh'),(2,'ARE')])
print(Dict)

{}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Ganesh', 2: 'ARE'}

In [33]:
# nested dictionary - it is used to create hierachial data structures
Dict = {1:'Ganesh',2:'For',3:{'A':'Welcome','B':'To','C':'my_house'}}
print(Dict)

{1: 'Ganesh', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'my_house'}}

In [34]:
# adding elements to a dictionary
Dict = {}
print(Dict)

Dict[0] = 'Ganesh'
Dict[2] = 'are'
Dict[3] = '1'
print(Dict)

Dict['Value_set'] = 2,3,4
print(Dict)

Dict[2] = 'Welcome'
print("\n updated key value:")
print(Dict)
Dict[5] = {'Nested':{'1':'Life','2':'Ganesh'}}
print("\n adding a nested key")
print(Dict)

{}
{0: 'Ganesh', 2: 'are', 3: '1'}
{0: 'Ganesh', 2: 'are', 3: '1', 'Value_set': (2, 3, 4)}

 updated key value:
{0: 'Ganesh', 2: 'Welcome', 3: '1', 'Value_set': (2, 3, 4)}

 adding a nested key
{0: 'Ganesh', 2: 'Welcome', 3: '1', 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Ganesh'}}}

In [35]:
# accesing elements of a dictionary
Dict = {1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}
print(Dict)

print(Dict[2])
print(Dict[3])

{1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}
raghavendra
shreya

In [36]:
# accesing a vlaue in dictionary using get() in python
Dict = {1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}
print(Dict.get(3))

shreya

In [37]:
# accesing of element of nested dictionary
Dict = {'Dict1': {1: 'Ganesh'},
        'Dict2': {'Name': 'are'}}

print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

Ganesh
are

In [38]:
# deleting elements using del keyword
Dict = {1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}
print(Dict)

del(Dict[1])

print(Dict)

{1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}
{2: 'raghavendra', 3: 'shreya'}

In [39]:
# multiple dictionary operations in python
dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"}
dict2 = dict1.copy()
print(dict2)
dict1.clear()
print(dict1)
print(dict2.get(1))
print(dict2.items())
print(dict2.keys())
dict2.pop(4)
print(dict2)
dict2.popitem()
print(dict2)
dict2.update({3: "Scala"})
print(dict2)
print(dict2.values())

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
dict_keys([1, 2, 3, 4])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}
dict_values(['Python', 'Java', 'Scala'])

In [40]:
# creating an dictionary
D = {}

L = [['a',1],['b',2],['a',3],['c',4]]

# loop to add key-value pair
for i in range(len(L)):
# in case if keys are already present then append the values to to the dictionary
    if L[i][0] in D:
      D[L[i][0]].append(L[i][1])

    # if key is not present in dictionary then add both key- value pair
    else:
      D[L[i][0]] = []
      D[L[i][0]].append(L[i][1])

print(D)

{'a': [1, 3], 'b': [2], 'c': [4]}

In [41]:
# overview of keys and values
key_ref = "More nested things"
my_dict = {'Nested Things':[{'name','thing one'},{'name','thing two'}]}

# value to be added
my_list_of_things = [{'name','thing three'},{'name','thing four'}]

# try- except to take care of errors
# while adding key - value pair

try:
  my_dict[key_ref].append(my_list_of_things)

except KeyError:
  my_dict = {**my_dict,**{key_ref:my_list_of_things}}

print(my_dict)

{'Nested Things': [{'name', 'thing one'}, {'name', 'thing two'}], 'More nested things': [{'name', 'thing three'}, {'name', 'thing four'}]}

In [43]:
# Built in Dictionary function methods in python
Dict = {}
my_list = [(1,'ganesh'),(2,'are')]
print(my_list)

# creating a dictionary with each item as a pair
Dict = dict(my_list)
print(Dict)

[(1, 'ganesh'), (2, 'are')]
{1: 'ganesh', 2: 'are'}

In [44]:
# how to add values to dictionary in python
# assign values using unique keys
veg_dict = {}
veg_dict[0] = 'carrot'
veg_dict[1] = 'Reddish'
veg_dict[2] = 'Brinjal'
veg_dict[3] = 'Potato'

print(veg_dict)

{0: 'carrot', 1: 'Reddish', 2: 'Brinjal', 3: 'Potato'}

In [45]:
veg_dict[0] = 'Tomato'
print(veg_dict)

{0: 'Tomato', 1: 'Reddish', 2: 'Brinjal', 3: 'Potato'}

In [46]:
# Merging two dictionaries using update()
veg_dict = {0: 'Carrot', 1: 'Raddish',
            2: 'Brinjal', 3: 'Potato'}

veg_dict.update({4:'Tomato',5:'Spinach'})
print(veg_dict)

{0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato', 4: 'Tomato', 5: 'Spinach'}

In [47]:
# add values to the dictionary using two lists of the same length
roll_no = [10,20,30,40,50]
names = ['Ramesh','Mahesh','Suresh','Ganesh']

students = dict(zip(roll_no,names))
print(students)

{10: 'Ramesh', 20: 'Mahesh', 30: 'Suresh', 40: 'Ganesh'}

In [48]:
# converting a list to dictionary
vegetables = ['Carrot', 'Raddish', 'Brinjal', 'Potato']

veg_dict = dict(enumerate(vegetables))
print(veg_dict)

{0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato'}

In [49]:
# add values by merge(|) operator
veg1 = {0:'carrot',1:'reddish'}
veg2 = {2:'brinjal',3:'potato'}

veg_dict = (veg1 | veg2)
print(veg_dict)

{0: 'carrot', 1: 'reddish', 2: 'brinjal', 3: 'potato'}

In [50]:
# add values by in-place (|=) operator
veg1 = {0:'carrot',1:'reddish'}
veg2 = {2:'brinjal',3:'potato'}

veg1 |= veg2
print(veg1)

{0: 'carrot', 1: 'reddish', 2: 'brinjal', 3: 'potato'}

In [51]:
# accessing key value in dictionary by key()
test_dict = {1: 'Ganesh', 2: 'raghavendra', 3: 'shreya'}
for key in test_dict.keys():
  print("key:",key,"value:",test_dict[key])

key: 1 value: Ganesh
key: 2 value: raghavendra
key: 3 value: shreya

In [52]:
# accesing values() method

for value in test_dict.values():
  print("Value:",value)

Value: Ganesh
Value: raghavendra
Value: shreya

In [53]:
# in operator - key value pair
for i in test_dict:
  print(i,test_dict[i])

1 Ganesh
2 raghavendra
3 shreya

In [54]:
# accessing list comprehension - it will give pair in tuple
print([(k,test_dict[k]) for k in test_dict])

[(1, 'Ganesh'), (2, 'raghavendra'), (3, 'shreya')]

In [55]:
# accessing using dict.items()
for key ,value in test_dict.items():
  print(key,value)

1 Ganesh
2 raghavendra
3 shreya

In [56]:
# using enumerate()
for i in enumerate(test_dict.items()):
  print(i)

(0, (1, 'Ganesh'))
(1, (2, 'raghavendra'))
(2, (3, 'shreya'))

In [58]:
#using for loop and items() method
key_value_pairs = []

for key,value in test_dict.items():
    key_value_pairs.append((key,value))

for pair in key_value_pairs:
    print(pair)

(1, 'Ganesh')
(2, 'raghavendra')
(3, 'shreya')

In [59]:
# python del to delete objects
class Sample_class:
  some_variable = 20

  # method of the class
  def my_method(self):
      print("ganesh chowdary")

# check if class exists
print(Sample_class)

# delete the class using del keyword
del Sample_class
# check if the class exists
print(Sample_class)

<class '__main__.Sample_class'>

NameError: ignored

In [60]:
# del for deleting variables
my_variable1 = 20
my_variable2 = "Ganesh"

del  my_variable1
del  my_variable2

my_variable1
my_variable2

NameError: ignored

In [62]:
# del kw for deleting List and List Slicing
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list2 =["Ganesh", "raghavendra", "shreya"]

del my_list[3:5]

my_list1

del my_list2

#my_list2

In [64]:
# del kw deleting dictionaries and removing key-value pairs

my_dict1 = {"small": "big", "black": "white", "up": "down"}
my_dict2 = {"dark": "light", "fat": "thin", "sky": "land"}

del my_dict1["black"]

my_dict1

del my_dict2

my_dict2

NameError: ignored