<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/python_practice_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python tuples
tuple1 = ()
print("intial empty tuple:")
print(tuple1)

intial empty tuple:
()

In [ ]:
tu1 = ("ganesh","for")
print(tu1)

('ganesh', 'for')

In [ ]:
list1 = [1,2,3,4,5,6]
print(tuple(list1))

(1, 2, 3, 4, 5, 6)

In [ ]:
# creating a tuple using inbuilt function tuple
tu1 = tuple("ganesh")
print(tu1)

('g', 'a', 'n', 'e', 's', 'h')

In [ ]:
#tu = (5,'ganesh',[1,'are'])
#print(tu)

# creating nested tuples
#tu1 = (1,2,3,4)
#tu2 = ('ganesh','are')
#tu3 = (tu1,tu2)
#print(tu3)

# creating tuple repeats
#tu4 = ('ganesh') * 3
#print(tu4)

# craeting tuple with the use of loop
n= 5
for i in range(int(n)):
    tu = (tu)
    print(tu)

(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])
(5, 'ganesh', [1, 'are'])

In [ ]:
# accesing of tuples
tu1 = tuple('ganesh')
print(tu1[0])

g

In [ ]:
# tuple unpacking
tu1 = ("ganesh","for","are")

a,b,c = tu1
print(a)
print(b)
print(c)

ganesh
for
are

In [ ]:
# conacatenation of tuples
tu1 = (0,1,2,3)
tu2 = ('geeks','for','geeks')
tu3 = tu1+tu2
print(tu3)

(0, 1, 2, 3, 'geeks', 'for', 'geeks')

In [ ]:
# slicing of tuple
tu1 = tuple("ganeshchowdary")
print(tu1[1:])

print(tu1[::-1])

print(tu1[4:9])

('a', 'n', 'e', 's', 'h', 'c', 'h', 'o', 'w', 'd', 'a', 'r', 'y')
('y', 'r', 'a', 'd', 'w', 'o', 'h', 'c', 'h', 's', 'e', 'n', 'a', 'g')
('s', 'h', 'c', 'h', 'o')

In [ ]:
# deleting a tuple
tu1 = (0,1,2,3,4)

del tu1
print(tu1)

NameError: ignored

In [ ]:
# creating tuple from string and list - python
test_list = ['ganesh','is']
test_str = "best"
# using list conversion to tuple + tuple()
res = tuple(test_list+[test_str])

print("aggregated tuple:",res)

aggregated tuple: ('ganesh', 'is', 'best')

In [ ]:
#Create a tuple from string and list Using Tuple conversion to tuple + tuple()
test_list = ['ganesh','is']
test_str = "best"
# using list conversion to tuple + tuple()
res = (test_str,)+tuple(test_list)

print("aggregated tuple:",res)

aggregated tuple: ('best', 'ganesh', 'is')

In [ ]:
#Create a tuple from string and list Using list+ tuple+ copy()+append()
og_list = ['ganesh','is']
og_str = 'best'

new_list = og_list.copy()
new_list.append(og_str)

new_tu = tuple(new_list)
print("the aggregated tuple is:",new_tu)

the aggregated tuple is: ('ganesh', 'is', 'best')

In [ ]:
#Create a tuple from string and list Using the + operator
lst = ["ganesh","is"]
strg = "best"

result = tuple(lst+[strg])
print(result)

('ganesh', 'is', 'best')

In [33]:
def create_tuple(string, lst):
    lst.extend([string])
    return tuple(lst)

# Driver Code
original_list = ['gfg', 'is']
original_string = 'best'

result = create_tuple(original_string, original_list)

print("The original list : ", original_list)
print("The original string : ", original_string)
print("The aggregated tuple is : ", result)

The original list :  ['gfg', 'is', 'best']
The original string :  best
The aggregated tuple is :  ('gfg', 'is', 'best')

In [34]:
# access front and rear element of python tuple
test_tu = (10,3,4,6,7)
res = (test_tu[0],test_tu[-1])
print(res)

(10, 7)

In [35]:
# using itemgetter()
from operator import itemgetter

test_tu = (10,4,5,6,7)

res = itemgetter(0,-1)(test_tu)

print(res)

(10, 7)

In [36]:
# using indexing
test_tu = (10,4,5,6,7)

res = (test_tu[0],test_tu[len(test_tu)-1])

print(res)

(10, 7)

In [38]:
# unpacking tuple
test_tu = (10,4,5,6,7)
# accesing the front and rear element of tuple
# unpacking the tuple
front,*_,rear = test_tu

res = (front,rear)

print(res)

(10, 7)

In [39]:
# using slicing
test_tu = (10,4,5,6,7)

front = test_tu[0]
rear = test_tu[-1]

res = (front,rear)

print(res)

(10, 7)

In [41]:
# using tuple() constructor and concatenation
test_tu = (10,4,5,6,7)

front = test_tu[0]
rear = test_tu[-1]

res = tuple([front])+tuple([rear])

print(res)

(10, 7)

In [42]:
# using list comprehension
test_tu = (10,4,5,6,7)

res = tuple([test_tu[i] for i in [0,-1]])

print(res)

(10, 7)

In [43]:
# ways to concatenate tuples
# using +operator
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

res = test_tup1+test_tup2
print(res)

(1, 3, 5, 4, 6)

In [44]:
# using sum()
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

res = sum((test_tup1,test_tup2),())

print(res)

(1, 3, 5, 4, 6)

In [45]:
# using list() and extend() methods
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

x = list(test_tup1)
y = list(test_tup2)
x.extend(y)
res = tuple(x)

print(res)

(1, 3, 5, 4, 6)

In [46]:
# using itertools.chain()
import itertools
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

tup3 = tuple(itertools.chain(test_tup1,test_tup2))

print(tup3)

(1, 3, 5, 4, 6)

In [48]:
# using tuple() constructor and the *operator

test_tup1 = (1, 3, 5)
test_tup2 = (4,6)

res = tuple(test_tup1+test_tup2)

print(res)

(1, 3, 5, 4, 6)

In [49]:
# using the += operator and the += method
test_tup1 = (1, 3, 5)
test_tup2 = (4,6)

test_tup1 += test_tup2

print(test_tup1)

(1, 3, 5, 4, 6)

In [50]:
# using reduce
from functools import reduce
concat_tuples = lambda t1,t2 :reduce(lambda x,y: x+y ,[t1,t2])

t1 = (1, 3, 5)
t2  = (4,6)

concatenated_tuple = concat_tuples(t1,t2)
print(concatenated_tuple)

(1, 3, 5, 4, 6)

In [51]:
# clearing a tuple
# using list() + clear() + tuple()

test_tup = (1, 5, 3, 6, 8)

temp = list(test_tup)
temp.clear()
test_tup = tuple(temp)

print(test_tup)

()

In [52]:
# reintializing using tuple()

test_tup = (1, 5, 3, 6, 8)

test_tup = tuple()

print(test_tup)

()

In [53]:
# using *operator

test_tup = (1, 5, 3, 6, 8)

test_tup = test_tup * 0

print(test_tup)

()

In [54]:
# using slicing and concatenation

test_tup = (1, 5, 3, 6, 8)

# Clearing a tuple using slicing and concatenation
test_tup = test_tup[0:0] + ()

print(test_tup)

()

In [55]:
# using del keyword
test_tup = (1, 5, 3, 6, 8)

del test_tup

print(())

()