<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/Python_practice8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var = ["Ganesh","raghavendra","shreya"]
print(var)

['Ganesh', 'raghavendra', 'shreya']

In [ ]:
# example 1
lst = []
print("Blank List:")
print(lst)

lst1 = [1,2,3]
print("\n",lst1)

lst2 = ["Ganesh","raghavendra","shreya"]
print(lst2)
print(lst2[1])

Blank List:
[]

 [1, 2, 3]
['Ganesh', 'raghavendra', 'shreya']
raghavendra

In [ ]:
# example list with distinct values or duplicate values
lst = [1,2,23,43,45,66,23,3,2,1]
print("\n",lst)

lst1 = [1,2,'Geeks',4,'For',6,'Geeks']
print("\n",lst1)

 [1, 2, 23, 43, 45, 66, 23, 3, 2, 1]

 [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [ ]:
#Accessing elements from the list
# example 1
lst2 = ["Ganesh","raghavendra","shreya"]
print(lst2[1])

print("\n",lst2[2])

raghavendra

 shreya

In [ ]:
#Accessing elements from from multidimensional list
lst2 = ["Ganesh",["raghavendra","shreya"]]
print(lst2[1][1])
print(lst2[1][0])

shreya
raghavendra

In [ ]:
# negative index
lst1 = [1,2,'Geeks',4,'For',6,'Geeks']

print([-1])

[-1]

In [ ]:
# getting the size of python list
lst = []
print(len(lst))

Lst1 = [10, 20, 14]
print(len(Lst1))

0
3

In [ ]:
# taking input of a python list
string = input("Enter elements (space-Seperated):")

lst = string.split()
print('The list is:',lst)

Enter elements (space-Seperated):Ganesh Chow dary
The list is: ['Ganesh', 'Chow', 'dary']

In [ ]:
# example 2
n = int(input("Enter the size of the list:"))

lst = list(map(int,input("Enter the integer\
               elemets:").strip().split()))[:n]

# printing the list
print('The list is:',lst)

Enter the size of the list:4
Enter the integer               elemets:1 2 3 4
The list is: [1, 2, 3, 4]

In [ ]:
# Adding elements to a python list
# method 1 using append() method
List = []
print("Initial blank List: ")
print(List)

List.append(1)
List.append(2)
List.append(3)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 3, 4]

In [ ]:
for  i in range(1,4):
  List.append(i)
print(List)

List.append((5,6))
print(List)

List1 = ['ganesh','chowdary']
List1.append(List)
print(List1)

[1, 2, 3, 4, 1, 2, 3, 1, 2, 3, (5, 6), 1, 2, 3]
[1, 2, 3, 4, 1, 2, 3, 1, 2, 3, (5, 6), 1, 2, 3, (5, 6)]
['ganesh', 'chowdary', [1, 2, 3, 4, 1, 2, 3, 1, 2, 3, (5, 6), 1, 2, 3, (5, 6)]]

In [ ]:
# using insert() method
lst3 = [1,2,3,4]
print(lst3)

lst3.insert(3,12)
lst3.insert(0,'Ganesh')
print(lst3)

[1, 2, 3, 4]
['Ganesh', 1, 2, 3, 12, 4]

In [ ]:
# using the extend()
lst3.extend([8,'Ganesh','Always'])
print(lst3)

['Ganesh', 1, 2, 3, 12, 4, 8, 'Ganesh', 'Always']

In [ ]:
# Reversing list
# reverse()
mylist = [1, 2, 3, 4, 5, 'Ganesh', 'Chowdary']
mylist.reverse()
print(mylist)

['Chowdary', 'Ganesh', 5, 4, 3, 2, 1]

In [ ]:
# reversed()
my_list = [1,2,3,4,5]
reversed_list = list(reversed(my_list))
print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
# Removing elements from list
# method 1 :using remove()
List = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]

List.remove(5)
List.remove(6)
print(List)

[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

In [ ]:
# EXAMPLE 2
List = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]

for i in range(1,5):
  List.remove(i)
print(List)

[5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# method using pop()
List = [1, 2, 3, 4, 5]

List.pop()
print("\n",List)

List.pop(2)
print(List)

 [1, 2, 3, 4]
[1, 2, 4]

In [ ]:
# slicing of a list
List = ['G','a','n','e','s','h','c','h','o','w','d','a','r','y']

sliced_list = List[3:8]
print("\n",sliced_list)

sliced_list = List[5:]
print("\n",List)

sliced_list = List[:]
print("\n",sliced_list)

 ['e', 's', 'h', 'c', 'h']

 ['G', 'a', 'n', 'e', 's', 'h', 'c', 'h', 'o', 'w', 'd', 'a', 'r', 'y']

 ['G', 'a', 'n', 'e', 's', 'h', 'c', 'h', 'o', 'w', 'd', 'a', 'r', 'y']

In [ ]:
# negative list slicing
sliced_list = List[:-6]
print(sliced_list)

sliced_list = List[-6:-1]
print(sliced_list)

sliced_list = List[::-1]
print(sliced_list)

['G', 'a', 'n', 'e', 's', 'h', 'c', 'h']
['o', 'w', 'd', 'a', 'r']
['y', 'r', 'a', 'd', 'w', 'o', 'h', 'c', 'h', 's', 'e', 'n', 'a', 'G']

In [ ]:
# List  Comprehension
odd_square = [x ** 2 for x in range(1,11) if  x%2 ==1]
print(odd_square)

[1, 9, 25, 49, 81]

In [ ]:
# by using the for loop
odd_square = []
for x in range(1,11):
  if x % 2 == 1:
      odd_square.append(x**2)
print(odd_square)

[1, 9, 25, 49, 81]

In [ ]:
# create list of numbers with given range
# Naive approach using loop
lst = []
for i in range(5,9):
  lst.append(i)
  print(i)

5
6
7
8

In [ ]:
# list comprehensions are used for creating new lists from other iterable like tuples
# ,strings, arrays ,lists. A list comprehension consists of brackets containing
# the expression, which is executed for each element along with the for loop to iterate over each element.

In [ ]:
#example 1 :
odd_square = [ x ** 2 for x in range(1 ,11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

In [ ]:
# also we can write the code in
odd_square = []

for x in range(1,11):
  if x % 2 == 1:
    odd_square.append(x**2)
print(odd_square)

[1, 9, 25, 49, 81]

In [ ]:
# creating a list of numbers with given range
# naive approach using a loop
def createlist(r1,r2):

 if (r1 == r2):
   return r1

 else:
   res = []

   while (r1 < r2+1):

      res.append(r1)
      r1 += 1
   return res

# driver code
r1,r2 = -1,1
print(createlist(r1,r2))

[-1, 0, 1]

In [ ]:
# same creating a range of list by using list comprehension
def createlist(r1,r2):
  return [item for item in range(r1,r2+1)]

r1, r2 = -1,1
print(createlist(r1,r2))

[-1, 0, 1]

In [ ]:
# using python range
def createlist(r1,r2):
  return list(range(r1,r2+1))

r1,r2 = -1,1
print(createlist(r1,r2))

[-1, 0, 1]

In [ ]:
# using itertools module chain function
import itertools
r1 = -5
r2 = 5

numbers = list(itertools.chain(range(r1,r2+1)))
print(numbers)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [ ]:
# using numpy.arange()
import numpy as np
def createlist(r1,r2):
  return np.arange(r1,r2+1)

r1,r2 = -1,1
print(createlist(r1,r2))

[-1  0  1]

In [ ]:
# using numpy to create a list of numbers with given range
import numpy as np
def fun(start,end,step):
  num = np.linspace(start,end,(end-start)*int(1/step)+1).tolist()
  return [ round (i,2) for i in num]

print(fun(1,5,0.5))

[1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [ ]:
# using recursive function
def createlist(r1,r2,lst):
  if r1 == r2:
    return lst
  else:
    lst.append(r1)
    return createlist(r1 + 1,r2,lst)

print(createlist(5,9,[]))
print(createlist(-1,1,[]))

[5, 6, 7, 8]
[-1, 0]

In [ ]:
# using map() and lambda ()
def createlist(r1,r2):
  return list(map(lambda x:x , range (r1,r2+1)))

print(createlist(5,9))
print(createlist(-1,1))

[5, 6, 7, 8, 9]
[-1, 0, 1]

In [2]:
# python program to accessing the index and value in list
test_list = [1,2,4,5]

print("original list:",test_list)-

print("list index- value are:")
for i in range(len(test_list)):
  print(i,end = " ")
  print(test_list[i])

original list: [1, 2, 4, 5]
list index- value are:
0 1
1 2
2 4
3 5

In [3]:
# accessing using list comprehension method
print([list((i,test_list[i])) for i in range(len(test_list))])

[[0, 1], [1, 2], [2, 4], [3, 5]]

In [4]:
# accessing using list enumerate method
for index,value in enumerate(test_list):
  print(index,value)

0 1
1 2
2 4
3 5

In [5]:
# accessing using list zip() method
for index,value in zip(range(len(test_list)),test_list):
  print(index,value)

0 1
1 2
2 4
3 5

In [9]:
# accessing elements in list using numpy.ndenumerate()
import numpy as np
test_list = [1,2,3,4,5,6]

for index,value in np.ndenumerate(test_list):
  print(index[0],value)

0 1
1 2
2 3
3 4
4 5
5 6

In [10]:
# how to find length of a list in python
# using len()
li = [1,3,4,5,7,8,9]
n = len(li)
n

7

In [11]:
# using naive method
test_list = [1,4,5,6]

counter = 0
for i in test_list:
  # increamenting counter
  counter = counter +1
print("length of list by using naive method is:",counter)

length of list by using naive method is: 4

In [12]:
# using length_hint
# particularly defined in operator class
from operator import length_hint

test_list = [1,2,3,4,5,6,7]

list_len = len(test_list)

list_len_hint = length_hint(test_list)

print(list_len)

print(list_len_hint)

7
7

In [16]:
# using the sum() method

test_list = [1,2,3,4,5,6,7]

list_len = sum( 1 for i in test_list)

list_len

7

In [20]:
# using list comprehension

test_list = [1,2,3,4,5,6,7]

#length = 0

list_len = [list (i for i in range(0,len(test_list)))]

len = length_hint(list_len)
len

TypeError: ignored

In [21]:
def count_element_recursion(lst):
  # Base case: if the list is empty, return 0
  if not lst:
    return 0
  # Recursive case: add 1 to the count of the remaining elements in the list
  return 1 +count_element_recursion(lst[1:])

lst = [1,2,3,4,5]

print("The length of the list is:", count_element_recursion(lst))

The length of the list is: 5

In [22]:
# using the enumerate function
list1 = [1,2,3,4,5,6]

s = 0

for i, a in enumerate(list1):
  s += 1
print(s)

6

In [26]:
# using collections
from collections import Counter

list1 = [1,2,3,4,5,6]

list_len = sum(Counter(list1).values())

list_len

6

In [27]:
# checking whether element exist in list or not ?

list1 = [1,2,3,4,5,6]

i = 6

if i in list1:
  print("exist")

else:
  print("not exist")

exist

In [28]:

list1 = [1,2,3,4,5,6]

for i in list1:
  if(i == 4):
    print("element exists")

element exists

In [31]:

list1 = [1,2,3,4,5,6]

result = any(item in list1 for item in list1)
print("Does any string contain list element:",result)

Does any string contain list element: True

In [33]:
# using count()

list1 = [1,2,3,4,5,6]

exist_count = list1.count(5)

if exist_count > 0:
  print("present")
else:
  print("not present")

present

In [36]:
from bisect import bisect_left,bisect

list1 = [1,4,7,8,9,4,5,6]

list1_bisect = [1,2,3,4,5,6,5,9]

list1 = set(list1_bisect)
if 4 in list1:
  print("element exist")

# by sort()+bisect_left()

list1_bisect.sort()
if bisect_left(list1_bisect,4)!= bisect(list1_bisect,4):
    print("element exists")
else:
    print("element doesnt exist")

element exist
element exists

In [ ]:

list1 = [1,2,3,4,5,6]

x = list(map(str,test_li))