<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/python_practice5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# taking input in python
# two inbuilt functions to read input from the user
# input(prompt)
# raw_input(prompt)
input = input("enter the data")  #\n - it causes a line break
print(input)

enter the dataganesh chowdary
ganesh chowdary

In [ ]:
x, y = [int(x) for x in input("Enter two values: ").split()]
print("First Number is: ", x)
print("Second Number is: ", y)

# taking three input at a time
x, y, z = [int(x) for x in input("Enter three values: ").split()]
print("First Number is: ", x)
print("Second Number is: ", y)
print("Third Number is: ", z)

# taking two inputs at a time
x, y = [int(x) for x in input("Enter two values: ").split()]
print("First number is {} and second number is {}".format(x, y))

# taking multiple inputs at a time
x = [int(x) for x in input("Enter multiple values: ").split()]
print("Number of list is: ", x)

Enter two values: 1 2
First Number is:  1
Second Number is:  2
Enter three values: 1 2 3
First Number is:  1
Second Number is:  2
Third Number is:  3
Enter two values: 5 6
First number is 5 and second number is 6
Enter multiple values: 45 676 87578 2323
Number of list is:  [45, 676, 87578, 2323]

In [ ]:
# python operators
# arithematic,comparison,logical,Bitwise,Assignment,Identity and Membership
# artithematic - addition,subtraction,multiplication and division
# result of division is a floating point in python
#To obtain an integer result in Python 3.x floored (// integer) is used.

In [ ]:
# Division operators - float and floor
#float division returns quotient
print(5/5)
print(10/2)
print(-10/2)
print(20.0/2)

1.0
5.0
-5.0
10.0

In [ ]:
# Integer division(floor) - qoutient dependent on the argument being passed
# if any one  number is float,it returns float same like negative numbers
print(5//5)
print(10//2)
print(-10//2)
print(20.0//2)

1
5
-5
10.0

In [ ]:
# precedence of arthematic operators
# P E D/M A S
# The modulus operator helps us extract the last digits of a number
print(567%10)
print(567%100)

7
67

In [ ]:
# examples
a = 9
b = 4

add = a+b

sub = a-b

mul = a*b

mod = a%b

p = a**b

print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

In [ ]:
# comparison operators in python
# > , < ,  == ,  !=, >=,  =<  have same preceedence and lower preceedence than arithematic operators
a = 9
b = 4

print(a >b)


print(a < b)


print(a == b)


print(a != b)


print(a >= b)

print(a <= b)

True
False
False
True
True
False

In [ ]:
# logical operators
# AND ,OR ,NOT
# preceedence not > and > or
# example
a = True
b = False

print(a and b)


print(a or b)


print(not b)

False
True
True

In [ ]:
# Bitwise operators
# acts on bits and perform bit-by-bit operations .These ar used to operate on binary numbers
# & - AND ,| -  OR, ~ - NOT,^ -XOR, >> - Right shift, << - Left shift
# precedence - not>shift>and>xor>or
a = 9
b = 4

print(a & b)


print(a | b)


print(~ b)


print(a ^ b)


print(a >> 2)

print(a << 2)

# practice on paper

0
13
-5
13
2
36

In [ ]:
# assigment operators
# = ,+=,-=,*/,/=,%=,//=,**=,&=,|=,^=,>>=,<<=
a = 10

b = a

b += a
print(b)

b -= a
print(b)

b *= a
print(b)

# bitwise lishift operator
b <<= a
print(b)

20
10
100
102400

In [ ]:
# identity operators
# is ,isnot
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [ ]:
# membership operators
#in , notin
x = 24
y = 20
li = [10,20,30,40,50]

if x not in li:
  print("x is not present in list")
else:
  print("x is present in list")

if y in li:
  print("y is present in list")
else:
  print("y is not in list")

x is not present in list
y is present in list

in Python, Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false. It was added to Python in version 2.5.

It simply allows testing a condition in a single line replacing the multiline if-else making the code compact.

In [ ]:
# ternary operator
a,b = 10,30

# copy value of a in min if a<b else copy b
min = a if a < b else b
print(b)

30

In [ ]:
# precedence and associativity of operators
expr = 10+20*30
print(expr)

name = "ganesh"
age = 0

if name == "ganesh" or name == "are" and age >=21:
     print("hello ganesh")
else:
  print("good bye!")

610
hello ganesh

If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. It can either be Left to Right or from Right to Left.

In [ ]:
# operators associativity
# left - right
print(100/10*10)
# l - r
print(5-2+3)
#l - r
print(5 - (2+3))
# right - left
print(2**3**2)

100.0
6
0
512

Ternary Operator Examples
Here we will see the different example to use Python Ternary Operator:

Ternary Operator in Python If-Else,
Python Ternary Operator using Tuples,
Python Ternary Operator using Dictionary,
Python Ternary Operator using Lambda,
Print in if Ternary Operator,
Limitations of Python Ternary Operator

In [ ]:
# ternary operator in python if else
# using native way
a,b = 10,30

if a != b:
  if a>b:
    print("a is greater than b")
  else:
    print("b is greater than a")
else:
  print("Both a and b are equal")

b is greater than a

In [ ]:
# using ternary operator
a,b = 10,20

print("Both a and b are equal" if a == b else "a is greater than b"
        if a > b else "b is greater than a")

b is greater than a

In [ ]:
# ternary and bitwise operator ----- Revise ----
a,b = 10,20
# with tuple
print((a,b)[a<b])

20

In [ ]:
# ternary operator with dictionary
a, b = 10,20
print({True:b,False:a} [a>b])

10

In [ ]:
# ternary operator with lambda
a, b = 10,20
print((lambda :b,lambda:a)[a<b]())

10

In [ ]:
# print in if ternary operator
a = 5
b = 7
print(a,"is greater") if a>b else print(b,"is greater")

7 is greater

In [ ]:
# division operators in python
# float // and floor division /
# matrix multiplication ,linear algebra and numerical integration

In [ ]:
# float division
print(5/5)
print(10/2)
print(-10/2)
print(20.0/2)

1.0
5.0
-5.0
10.0

In [ ]:
# floor division
print(5//5)
print(3//2)
print(10//3)

1
1
3

In [ ]:
print (5//2)
print (-5//2)

2
-3

In [ ]:
# A Python program to demonstrate use of
# "//" for both integers and floating points
print (5//2)
print (-5//2)
print (5.0//2)
print (-5.0//2)

2
-3
2.0
-3.0

In [ ]:
# is division operator on boolean values possible
# what is overloading    *******REVISE*********
class MyClass:
   def _init_(self,value):
       self.value = value

   def _truediv_(self,other):
     return MyClass(self.value and other.value)

a = MyClass(True)
b = MyClass(False)
c = a/b
print(c.value)

TypeError: ignored

In [ ]:
class MyClass:
  def __init__(self,value):
    self.value = value

  def __truediv__(self,other):
    return MyClass(self.value and other.value)

a = MyClass(True)
b = MyClass(False)
c = a/b
print(c.value)

False

Operator Overloading means giving extended meaning beyond their predefined operational meaning. For example operator + is used to add two integers as well as join two strings and merge two lists. It is achievable because ‘+’ operator is overloaded by int class and str class. You might have noticed that the same built-in operator or function shows different behavior for objects of different classes, this is called Operator Overloading.

In [ ]:
# OPERATOR Overloading
#+ is overloaded by int and string class
print(1+4)

print("are"+" ganesh")

print(3*4)

print("Ganesh"*4)

5
are ganesh
12
GaneshGaneshGaneshGanesh

Whenever you change the behavior of the existing operator through operator overloading, you have to redefine the special function that is invoked automatically when the operator is used with the objects.

In [ ]:
# we can overload all existing operators  but we can not create new operator
# how  does operator overloading actually work? # why do we us self kw ?
class A:
    def _init_(self,a):
      self.a = a
   # adding two objects
    def _add_(self,o):
       return self.a + o.a

ob1 = A(1)
ob2 = A(2)
ob3 = A("ganesh")
ob4 = A("are")

print(ob1 + ob2)
print(ob3 + ob4)

# Actual working when Binary operator is used
print(A._add_(ob1,ob2))
print(A._add_(ob3,ob4))

# and can also be understand as
print(ob1._add_(ob2))
print(ob3._add_(ob4))

TypeError: ignored

In [ ]:
# code 2
class complex:
  def _init_(self,a,b):
    self.a = a
    self.b = b

  # adding two objects
  def _add_(self,other):
    return self.a + other.a,self.b + other.b

ob1 = complex(1,2)
ob2 = complex(2,3)
ob3 = ob1+ob2
print(ob3)

TypeError: ignored

In [ ]:
# overloading comparison operators
class A:
  def __intit__(self,a):
    self.a = a

  def __gt__(self,other):
    if self.a > other.a:
      return True
    else:
      return False

ob1 = A(2)
ob2 = A(3)

if ob1 > ob2:
  print("ob 1 is greater than ob2")
else:
  print("ob2 is greater than ob1")

TypeError: ignored

In [ ]:
class A:
  def __init__(self, a):
    self.a = a

  def __gt__(self, other):
    if self.a > other.a:
      return True
    else:
      return False

ob1 = A(2)
ob2 = A(3)

if ob1 > ob2:
  print("ob1 is greater than ob2")
else:
  print("ob2 is greater than ob1")

ob2 is greater than ob1

In [ ]:
# Python program to overload equality
# and less than operators

class A:
    def __init__(self, a):
        self.a = a
    def __lt__(self, other):
        if(self.a<other.a):
            return "ob1 is lessthan ob2"
        else:
            return "ob2 is less than ob1"
    def __eq__(self, other):
        if(self.a == other.a):
            return "Both are equal"
        else:
            return "Not equal"

ob1 = A(2)
ob2 = A(3)
print(ob1 < ob2)

ob3 = A(4)
ob4 = A(4)
print(ob1 == ob2)

ob1 is lessthan ob2
Not equal

  Operator	                     Magic Method
    +                      	__add__(self, other)
    –               	      __sub__(self, other)
    *               	      __mul__(self, other)
    /               	      __truediv__(self, other)
   //	                    __floordiv__(self, other)
   %	                      __mod__(self, other)
   **	                    __pow__(self, other)
   >>	                    __rshift__(self, other)
   <<	                    __lshift__(self, other)
   &	                      __and__(self, other)
   |               	      __or__(self, other)
   ^               	     __xor__(self, other)

In [ ]:
"""# Comparison Operators:
Operator	Magic Method
<	__lt__(self, other)
>	__gt__(self, other)
<=	__le__(self, other)
>=	__ge__(self, other)
==	__eq__(self, other)
!=	__ne__(self, other)"""

In [ ]:
"""Assignment Operators:

Operator	Magic Method
-=	__isub__(self, other)
+=	__iadd__(self, other)
*=	__imul__(self, other)
/=	__idiv__(self, other)
//=	__ifloordiv__(self, other)
%=	__imod__(self, other)
**=	__ipow__(self, other)
>>=	__irshift__(self, other)
<<=	__ilshift__(self, other)
&=	__iand__(self, other)
|=	__ior__(self, other)
^=	__ixor__(self, other) """

'Assignment Operators:\n\nOperator\tMagic Method\n-=\t__isub__(self, other)\n+=\t__iadd__(self, other)\n*=\t__imul__(self, other)\n/=\t__idiv__(self, other)\n//=\t__ifloordiv__(self, other)\n%=\t__imod__(self, other)\n**=\t__ipow__(self, other)\n>>=\t__irshift__(self, other)\n<<=\t__ilshift__(self, other)\n&=\t__iand__(self, other)\n|=\t__ior__(self, other)\n^=\t__ixor__(self, other) '

In [ ]:
"""Unary Operators:

Operator	Magic Method
–	__neg__(self)
+	__pos__(self)
~	__invert__(self)"""

In [ ]:
# operator overloading on Boolean values
class MyClass:
  def __init__(self,value):
    self.value = value

  def __and__(self,other):
    return MyClass(self.value and other.value)

a = MyClass(True)
b = MyClass(False)
c = a & b
print(c)

<__main__.MyClass object at 0x7ecfa12ebac0>

In [ ]:
# Any ALL in python
# Any can be thought as sequence of OR operations .
# It short circuit the execution i.e. stop the execution as soon as
# the result is known.
# any(list of iterables)
# Since all are false, false is returned
print(any([False,False,False,False]))
# Here the method will short-circuit at the
# second item (True) and will return True.
print(any([False,True,False,False]))
# Here the method will short-circuit at the
# first (True) and will return True.
print(any([True,False,False,False]))

In [ ]:
# all
# Here all the iterables are True so all
# will return True and the same will be printed
print (all([True, True, True, True]))

# Here the method will short-circuit at the
# first item (False) and will return False.
print (all([False, True, True, False]))

# This statement will return False, as no
# True is found in the iterables
print (all([False, False, False]))

True
False
False

In [ ]:
# practical examples
list1 = []
list2 = []

for i in range(1,11):
  list1.append(4*i)

for i in range(0,10):
  list2.append(list1[i]%5 == 0)

print('see wheather at least one number is divisible by 5  in list  1=>')
print(any(list2))

see wheather at least one number is divisible by 5  in list  1=>
True

In [ ]:
list1 = []
list2 = []

for i in range(1,11):
  list1.append(4*i-3)
  print(list1)
for i in range(0,10):
  list2.append(list1[i]%2 == 1)

print('see wheather at least one number is divisible by 5  in list  1=>')
print(all(list2))

[1]
[1, 5]
[1, 5, 9]
[1, 5, 9, 13]
[1, 5, 9, 13, 17]
[1, 5, 9, 13, 17, 21]
[1, 5, 9, 13, 17, 21, 25]
[1, 5, 9, 13, 17, 21, 25, 29]
[1, 5, 9, 13, 17, 21, 25, 29, 33]
[1, 5, 9, 13, 17, 21, 25, 29, 33, 37]
see wheather at least one number is divisible by 5  in list  1=>
True

In [ ]:
# truth table
https://media.geeksforgeeks.org/wp-content/cdn-uploads/All-any-in-python.png

In [ ]:
# opeartor functions in python set 1
import operator
a = 4
b = 3

print("addition of numbers is :",end="")
print(operator.add(a,b))

print("subtarction of numbers is :",end="")
print(operator.sub(a,b))

print("multiplication of numbers is :",end="")
print(operator.mul(a,b))

print ("The true division of numbers is : ",end="");
print (operator.truediv(a,b))

# using floordiv() to divide two numbers
print ("The floor division of numbers is : ",end="");
print (operator.floordiv(a,b))

# using pow() to exponentiate two numbers
print ("The exponentiation of numbers is : ",end="");
print (operator.pow(a,b))

# using mod() to take modulus of two numbers
print ("The modulus of numbers is : ",end="");
print (operator.mod(a,b))

addition of numbers is :7
subtarction of numbers is :1
multiplication of numbers is :12
The true division of numbers is : 1.3333333333333333
The floor division of numbers is : 1
The exponentiation of numbers is : 64
The modulus of numbers is : 1

8. lt(a, b) :- This function is used to check if a is less than b or not. Returns true if a is less than b, else returns false.
Operation – a < b.

9. le(a, b) :- This function is used to check if a is less than or equal to b or not. Returns true if a is less than or equal to b, else returns false.
Operation – a <= b.

10. eq(a, b) :- This function is used to check if a is equal to b or not. Returns true if a is equal to b, else returns false.
Operation – a == b.

In [ ]:
# using lt() to check if a is less than b
if(operator.lt(a,b)):
       print ("3 is less than 3")
else : print ("3 is not less than 3")

# using le() to check if a is less than or equal to b
if(operator.le(a,b)):
       print ("3 is less than or equal to 3")
else : print ("3 is not less than or equal to 3")

# using eq() to check if a is equal to b
if (operator.eq(a,b)):
       print ("3 is equal to 3")
else : print ("3 is not equal to 3")


# using gt() to check if a is greater than b
if (operator.gt(a,b)):
       print ("4 is greater than 3")
else : print ("4 is not greater than 3")

# using ge() to check if a is greater than or equal to b
if (operator.ge(a,b)):
       print ("4 is greater than or equal to 3")
else : print ("4 is not greater than or equal to 3")

# using ne() to check if a is not equal to b
if (operator.ne(a,b)):
       print ("4 is not equal to 3")
else : print ("4 is equal to 3")

3 is not less than 3
3 is not less than or equal to 3
3 is not equal to 3
4 is greater than 3
4 is greater than or equal to 3
4 is not equal to 3

In [ ]:
# operator functions in python set 2
import operator

li = [1, 5, 6, 7, 8]

# printing original list
print ("The original list is : ",end="")
for i in range(0,len(li)):
    print (li[i],end=" ")

print ("\r")

# using setitem() to assign 3 at 4th position
operator.setitem(li,3,3)

# printing modified list after setitem()
print ("The modified list after setitem() is : ",end="")
for i in range(0,len(li)):
    print (li[i],end=" ")

print ("\r")

# using delitem() to delete value at 2nd index
operator.delitem(li,1)

# printing modified list after delitem()
print ("The modified list after delitem() is : ",end="")
for i in range(0,len(li)):
    print (li[i],end=" ")

print ("\r")

# using getitem() to access 4th element
print ("The 4th element of list is : ",end="")
print (operator.getitem(li,3))

The original list is : 1 5 6 7 8
The modified list after setitem() is : 1 5 6 3 8
The modified list after delitem() is : 1 6 3 8
The 4th element of list is : 8

In [ ]:
# slice operator
import operator

# Initializing list
li = [1, 5, 6, 7, 8]

# printing original list
print ("The original list is : ",end="")
for i in range(0,len(li)):
    print (li[i],end=" ")

print ("\r")

# using setitem() to assign 2,3,4 at 2nd,3rd and 4th index
operator.setitem(li,slice(1,4),[2,3,4])

# printing modified list after setitem()
print ("The modified list after setitem() is : ",end="")
for i in range(0,len(li)):
    print (li[i],end=" ")

print ("\r")

# using delitem() to delete value at 3rd and 4th index
operator.delitem(li,slice(2,4))

# printing modified list after delitem()
print ("The modified list after delitem() is : ",end="")
for i in range(0,len(li)):
    print (li[i],end=" ")

print ("\r")

# using getitem() to access 1st and 2nd element
print ("The 1st and 2nd element of list is : ",end="")
print (operator.getitem(li,slice(0,2)))

The original list is : 1 5 6 7 8
The modified list after setitem() is : 1 2 3 4 8
The modified list after delitem() is : 1 2 8
The 1st and 2nd element of list is : [1, 2]

In [ ]:
 # concat() and contains()

# importing operator module
import operator

# Initializing string 1
s1 = "geeksfor"

# Initializing string 2
s2 = "geeks"

# using concat() to concatenate two strings
print ("The concatenated string is : ",end="")
print (operator.concat(s1,s2))

# using contains() to check if s1 contains s2
if (operator.contains(s1,s2)):
       print ("geeksfor contains geeks")
else : print ("geeksfor does not contain geeks")

The concatenated string is : geeksforgeeks
geeksfor contains geeks

In [ ]:
import operator

a = 1

b = 0

# using and_() to display bitwise and operation
print ("The bitwise and of a and b is : ",end="")
print (operator.and_(a,b))

# using or_() to display bitwise or operation
print ("The bitwise or of a and b is : ",end="")
print (operator.or_(a,b))

# using xor() to display bitwise exclusive or operation
print ("The bitwise xor of a and b is : ",end="")
print (operator.xor(a,b))

# using invert() to invert value of a
operator.invert(a)

# printing modified value
print ("The inverted value of a is : ",end="")
print (operator.invert(a))

The bitwise and of a and b is : 0
The bitwise or of a and b is : 1
The bitwise xor of a and b is : 1
The inverted value of a is : -2

In [ ]:
# difference between == and is operator in python
# == is used to compare values most equality operators
# is - identity operator
# when variables on each side of an opeartor point at the exact same object - it wiil give true
# EXAMPLE 1
list1 = []
list2 = []
list3 = list1

# case 1
if (list1 == list2):
    print("True")
else:
    print("False")

# case 2
if (list1 is list2):
    print("True")
else:
    print("False")

# case 3
if (list1 is list3):
    print("True")
else:
    print("False")

# case 4
list3 = list3 + list2

if (list1 is list3):
    print("True")
else:
    print("False")

True
False
True
False

In [ ]:
# EAXMPLE 2
list1 = []
list2 = []

print(id(list1))
print(id(list2))

In [ ]:
# Python Membership and Identity operators
# Python program to illustrate
# Finding common member in list
# using 'in' operator
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9]
for item in list1:
    if item in list2:
        print("overlapping")
    else:
        print("not overlapping")
    break

not overlapping

In [ ]:
# example using without using in operator
def overlapping(list1,list2):

  c = 0
  d = 0
  for i in list1:
    c += 1
  for i in list2:
    d +=1
  for i in range(0,c):
    for j in range(0,d):
      if list1[i] == list2[j]:
        return 1
  return 0

list1 = [1,2,3,4,5]
list2 = [6,7,8,9]
if overlapping(list1,list2):
  print("overlapping")
else:
  print("not overlapping")

not overlapping

In [ ]:
# not in
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is  present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

Identity operators
Identity operators are used to compare the objects if both the objects are actually of the same data type and share the same memory location.
There are different identity operators such as

‘is’ operator – Evaluates to True if the variables on either side of the operator point to the same object and false otherwise.

In [ ]:
x = 5
y = 5
print(x is y)
id(x)
id(y)

x = ["Geeks", "for", "Geeks"]
y = ["Geeks", "for", "Geeks"]
z = x

# Returns False because z is the same object as x
print(x is not z)

# Returns True because x is not the same object as y,
# even if they have the same content
print(x is not y)

# To demonstrate the difference between "is not" and "!=":
# This comparison returns False because x is equal to y
print(x != y)

True
False
True
False

In [ ]:
# python data types
# datatypes are classes and varibles are instances(object) of these classes
# numeric,sequence type,Boolean,set,Dictionary,Binary(memoryview,bytearray,bytes)
# numeric - integer,float,complex number
# type()
x = "Hello world"

x = 50

x = 60.5

x = ['ganesh',"are"]

x = ("ganesh","are")

x = {"ganesh":"are"}

x = 3j

# output : range
x = range(10)

# output : set
x = {"ganesh","are"}

# data type output: frozenset
x = frozenset({"ganesh","are"})

# output : bool
x = True

# output : bytes
x = b'ganesh'

#output :bytearrray
x = bytearray(4)

# output:memoryview
x = memoryview(bytes(6))

#output:Nonetype
x = None

In [1]:
# no limit to length of integer in python
# float - real number with floating point
# complex - real part + imaginary part
a = 5
print("Type of a: ", type(a))

b = 5.0
print("\nType of b: ", type(b))

c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

The sequence Data Type in Python is the ordered collection of similar or different data types. Sequences allow storing of multiple values in an organized and efficient fashion.

strings in Python are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote, or triple-quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

In [2]:
# sequence data types in python
# string data type
str1 = "hello ganesh are you completing your work?"
print(str1)
print(type(str1))

str2 = 'ganesh for ganesh'
print("\nstring with single quote:")
print(str2)

hello ganesh are you completing your work?
<class 'str'>

string with single quote:
ganesh for ganesh

In [5]:
# Accessing elements of string
str1 = "hello ganesh are you completing your work?"
print(str1[0])
print(str1[-2])

h
k

 Lists are just like arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.

In [8]:
# list data type
list = []
print("intial blank list:")
print(list)

list1 = ['ganesh are is the student']
print('\nlist with the use of string:')
print(list1)

list2 = ["ganesh","are","chowdary"]
print("\nlist containing multiple values")
print(list2)
print(list2[1])
print(list2[2])

# creating a multidimensional list
# by nesting a list inside a list
list3 = [['games','sports'],['events']]
print("\nMultidimensional List:")
print(list3)
print(list3[1][0])
# List[len(List)-3]

intial blank list:
[]

list with the use of string:
['ganesh are is the student']

list containing multiple values
['ganesh', 'are', 'chowdary']
are
chowdary

Multidimensional List:
[['games', 'sports'], ['events']]
events

In [11]:
# tuple datatype
# tuples can include any datatype - strings ,integers,lists etc --
# one trailing comma is required to make it a tuple
tu = ()
print("intial empty tuple:")
print(tu)

tu1 = ('ganesh','are')
print("\ntuple with the use of string:")
print(tu1)

list = [1,2,3,4,5]
print("\nTuple using list:")
print(tuple(list1))

# creating tuple with the use of
#built in function
tu2  = tuple('ganesh')
print("\nTuple with the use of function:")
print(tu2)

# creating a Tuple with nested tuples
tuple1 = (0,1,2,3)
tuple2 = ('python','practice')
tuple3 = (tuple1,tuple2)
print("\nTuple with nested tuples:")
print(tuple3)
print(tuple3[-1][0])

intial empty tuple:
()

tuple with the use of string:
('ganesh', 'are')

Tuple using list:
('ganesh are is the student',)

Tuple with the use of function:
('g', 'a', 'n', 'e', 's', 'h')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'practice'))
python

In [12]:
# Boolean data type
# two built in values - true or false
#But non-Boolean objects can be evaluated in a Boolean context as well and determined to be true or false.
# It is denoted by the class bool.
print(type(True))
print(type(False))

print(type(true))

<class 'bool'>
<class 'bool'>

NameError: ignored

In Python, a Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.
#Create a Set in Python
Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by a ‘comma’. The type of elements in a set need not be the same, various mixed-up data type values can also be passed to the set.

In [14]:
# set data type in python
set1 = set()
print("intial blank set")
print(set1)

# set with string
set2 = set("ganesh chowdary")
print("\nset with use of string:")
print(set2)

# set with list
set3 = set(["ganesh","raghavendra","shreya"])
print("\nset with use of list")
print(set3)

# set with mixed type of values (numbers and strings)
set4 = set([1,2,"ganesh",4,'for',8,'are'])
print("\nset with use of Mixed values")
print(set4)

intial blank set
set()

set with use of string:
{'e', 'a', ' ', 'r', 'w', 'h', 'o', 'd', 'n', 'c', 'y', 's', 'g'}

set with use of list
{'raghavendra', 'ganesh', 'shreya'}

set with use of Mixed values
{1, 2, 'ganesh', 4, 8, 'are', 'for'}

In [18]:
# accessing the set items
# index will not work - as they are unordered
# by using the loop or membership operators in ,notin
set1 = set({'ganesh','raghavendra','shreya'})
print("\nintial set")
print(set1)

# for loop
print("\nElements of set:")
for i in set1:
  print(i,end=" ")

print('shreya' in set1)

intial set
{'raghavendra', 'ganesh', 'shreya'}

Elements of set:
raghavendra ganesh shreya True

In [23]:
# Dictionary datatype in python
# unordered collection
# values can be of any type and duplicated
# keys are unique and immutable
# also created by built in function - dict()
# keys are case sensitive
dict = {}
print("Empty dictionary:")
print(dict)

# dict with integer keys
dict1 = {1:"ganesh",2:"raghavendra",3:"shreya"}
print("\ndict with the use of integer keys:")
print(dict1)

# dict with mixed keys
dict2 = {"name":"ganesh",1:[2,3,45,5]}
print("\ndict with the use of mixed keys:")
print(dict2)

# dict with dict method()
"""dict3 = dict({1:"ganesh",2:"raghavendra",3:"shreya"})
print("\nDictionary with the use of dict():")
print(dict3)

# dict with each item as a pair
dict4 = dict([(1,"ganesh"),(2,"raghavendra"),(3,"shreya")])
print("\ndict with each item as a pair:")
print(dict4)"""

Empty dictionary:
{}

dict with the use of integer keys:
{1: 'ganesh', 2: 'raghavendra', 3: 'shreya'}

dict with the use of mixed keys:
{'name': 'ganesh', 1: [2, 3, 45, 5]}

'dict3 = dict({1:"ganesh",2:"raghavendra",3:"shreya"})\nprint("\nDictionary with the use of dict():")\nprint(dict3)\n\n# dict with each item as a pair \ndict4 = dict([(1,"ganesh"),(2,"raghavendra"),(3,"shreya")])\nprint("\ndict with each item as a pair:")\nprint(dict4)'

In [24]:
# accessing the key - value in dictionary
# get()
dict = {1:"ganesh",2:"raghavendra",3:"shreya"}

print("accessing a element using key:")
print(dict[2])

# get()
print("Accessing a element using get:")
print(dict.get(3))

accessing a element using key:
raghavendra
Accessing a element using get:
shreya

In [25]:
# set3(strings ,Lists,Tuples,Iterations)
# strings in python
# combination of letters,numbers,special characters
# are immutable - accessing by indexing or by slicing operations
a = 'my name is name'
print(a)

b = "my name is i don't no"
print(b)

c = '''my name is something'''
print(c)

my name is name
my name is i don't no
my name is something

In [26]:
# lists in python
# lists can also used implementing stacks and queues
# intialization and declaration?
# acessing - indexing and slicing
# declare a list
l = [1,"a","string","1+j",2+4]
print(l)

l.append(5)
print("\n",l)

l.pop()
print("\n",l)

print("\n",l[1])

[1, 'a', 'string', '1+j', 6]

 [1, 'a', 'string', '1+j', 6, 5]

 [1, 'a', 'string', '1+j', 6]

 a

In [27]:
# tuples
tup = (1,"a","string","1+j",2+4)
print(tup)
print(tup[1])

(1, 'a', 'string', '1+j', 6)
a

In [30]:
# example 1
i = 1
while i <10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [31]:
s = "hello ganesh"
for i in s:
  print(i)

h
e
l
l
o

g
a
n
e
s
h

In [32]:
l = [1,2,3,43,4,5,66,7]
for i in l:
  print(i)

1
2
3
43
4
5
66
7

In [34]:
for i in range(1,26):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25