<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating variables
x = 12
y = "meena"
z = 1.23
p = 345
print("value of x is:" ,x)
print("value of y is :",y)
print("value of z is :",z)
print(p)

value of x is: 12
value of y is : meena
value of z is : 1.23
345

In [ ]:
#naming conventions of variables
x123 = 45
_y = 46
_z101 ="xyz"
x_y12 = 46
print(x123)
print(_y)
print(_z101)
print(x_y12)

45
46
xyz
46

In [ ]:
# arithematic operations
#program to add/sub/mul/div of 2 numbers
num1 = 20
num2 = 30
n3= num1+num2
n4=num1-num2
n5 = num1*num2
n6 = num1 /num2
print("n3",n3)
print("n4",n4)
print("n5",n5)
print("n6",n6)

n3 50
n4 -10
n5 600
n6 0.6666666666666666

In [ ]:
#example problem
z = int(input("enter the value of z:"))
m = 60
c = 50
y = m*2/c
x = y * z/2+100
print("value of y is:",y)
print("value of x:",x)

enter the value of z:70
value of y is: 2.4
value of x: 184.0

In [ ]:
#string operation
str = "hello world"
str1 = "I am your interpreter"
print(len(str))
print(str)
print(str1)
print(str[0])
print("print first 8 charcters:",str1[0:8])
print("print the last charcter:",str1[-1])

11
hello world
I am your interpreter
h
print first 8 charcters: I am you
print the last charcter: r

In [ ]:
# program to add the numbers in string
str ="12345"
r = 0
for i in range(0,len(str)):
    r = r+eval(str[i])
print("sum of the numbers",r)

sum of the numbers 15

In [ ]:
str = "12345"
str1 = str[::-1]
print(str1)
str2= str[1:4]
print(str2[::-1])

54321
432

In [ ]:
# program to convert celsius to fahrenhiet
degree_temp = float(input("enter the temp in degree centrigrade:"))
faherenhiet_temp = 9/5*degree_temp+32
print("temp in the farenhiet to degree centrigrade:",faherenhiet_temp)

enter the temp in degree centrigrade:37.9
temp in the farenhiet to degree centrigrade: 100.22

In [ ]:
a= 6
b= 4
print(a//b)

1

In [ ]:
# marks of the different students
marks = int(input("enter the matrks obtained:"))
if marks <0:
  print("you need to study hard a little bit")
elif marks <=50:
  print("Not good ,Not Terrible")
elif marks <=70:
  print("that's decent .Have a cookie for youself!")
elif marks <=100:
  print("great you are on the top")
else:
  print("error enter the marks in the range only!")

enter the matrks obtained:105
error enter the marks in the range only!

In [ ]:
# find the max of three numbers
num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))
num3 = int(input("enter the third number:"))
if num1>num2 and num1>num3:
  print("largest number is:",num1)
elif num2>num1 and num2>num3:
  print("largest number is :",num2)
elif num3>num1 and num3>num2:
   print("largest number is :",num3)
else:
  print|("atleast two numbers are equal")

enter the first number:10
enter the second number:45
enter the third number:23
largest number is : 45

In [ ]:
# if movie name has any vowel I'll watch it . Else i won't watch it.
movie_name = input("enter the movie_name:")
if ('a' in movie_name or 'e' in movie_name or
   'i' in movie_name or 'o' in movie_name or
   'u' in movie_name):
   print("will watch the movie")
else:
  print("will not watch the movie")

enter the movie_name:kgf
will not watch the movie

In [ ]:
# method 2 by for loop
movie_name = input("enter the movie name:")
str = 'aeiou'
for i in str:
  if  i in movie_name:
    print("will watch the movie")
    break;       # exit the  entire loop and stops executing the next condition
  else:
    print("will not watch the movie")
    break;

enter the movie name:bhabubali
will watch the movie

In [ ]:
# method 3
movie_name = input("enter the movie name:")
str = 'aeiou'
vowel_found = False
for i in str:
  if  i in movie_name:
    vowel_found = True
    break;       # exit the  entire loop and stops executing the next condition
if(vowel_found ==  True):
  print("will watch the movie")
else:
    print("will not watch the movie")

enter the movie name:RRR
will not watch the movie

In [ ]:
# METHOD 4 USING THE WHILE LOOP
movie_name = input("enter the movie name:")
str = 'aeiou'
i = 0
while i<len(str):
  if  str[i] in movie_name:
    print("will watch the movie")
    break;
  i+=1      # exit the  entire loop and stops executing the next condition
else:
    print("will not watch the movie")

enter the movie name:RRR
will not watch the movie

In [ ]:
# print tables of n
# print the following pattern for given n lines by for or whle loop 1,12,123,
num = int(input("enter the number to print the table for:"))
for i in range(1,11):
  print(num,"x",i,"=",i*num)

enter the number to print the table for:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# 2nd  problem
num = int(input("enter the number of rows:"))
for i in range(1,num+1): # i = row and j = column
  for j in range(1,i+1):   # it will print up to row number
    print(j,end="")     # what is the use of end=""?
  print() # takes /n by default

enter the number of rows:6
1
12
123
1234
12345
123456

In [ ]:
# DATASTRUCTURES in python list,tuple ,dictionary,set
# slicing
str = "ganesh"  # start ,stop,step
print(str[::-1]) # scope resolution operater prints for every two chracters in the string

hsenag

In [ ]:
str = "ganesh"
print(str[5:2:-1])

hse

In [ ]:
# checking string is a panlindrome or not
a = "RRR"
if a == a[::-1]:
  print("panlindrome")
else:
  print("not palindrome")

panlindrome

In [4]:
# print  a pattern as follows as n lines
#1
#121
#12312
#1234321
#123454321
def pattern_print():
 for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  for j in range(i-1,0,-1):
   print(j,end="")
  print()

if name == "main":
  n = int(input("enter the number of lines:"))
  pattern_print(n)

NameError: ignored

In [ ]:
li = [1,2,3,4,5]
for i in li:    # it can store any data type
  print(i,end=",")

1,2,3,4,5,

In [ ]:
# what is the differnce between arrays and lists?
# list can store multiple data type
# limitations - size is not constant (element)
# length,dataype,adress - it uses the extra memmory
# what are linked lists?

In [15]:
# list concatenation
#li = [1,2,3,4]
#li1 = [4,6,7,8]
#li.append(li1)
#print(li[1])

# .extend()
li2 = [1,2,3,4]
li3 = [6,7,8,9]

li2.extend(li3)
print(li2)

[1, 2, 3, 4, 6, 7, 8, 9]

In [23]:
#li2.insert(1,2)
#li2
# .remove()
li2 = [1,2,3,4]
li2.remove(3)
print(li2)
# .pop() it works based on the index by default it removes last element in the list

[1, 2, 4]

In [25]:
# sorting functions
list = [5,8,74,23]
list.sort(reverse = False)  # dattype of the elements should be same
print(list)

[5, 8, 23, 74]

In [36]:
#sort based on vowels existed in the string
def len_sort(list_elements):
  return len(list_elements)
  str = 'aeiou'
  count = 0
  for char in list_elements:
     if char in str:
      count+=1
  return count
chocolates = ['bounty','mars','kitkat','candyman','galaxy','perk']
chocolates.sort(key = len_sort)
print(chocolates)

['mars', 'perk', 'bounty', 'kitkat', 'galaxy', 'candyman']

In [ ]:
#sort based on length of the string

In [29]:
def fibonacci(n):
  if n == 0 or n == 1:
    return n
  return fibonacci(n-1) + fibonacci(n-2)

n = int(input("enter the number: "))
fibonacci(n)

enter the number: 2

1

In [30]:
def fiveten(milage):
  return 5*milage,10*milage

milage = int(input("Enter the car mileage:"))
fivelitres,tenlitres = fiveten(milage)
print(fivelitres,tenlitres)

Enter the car mileage:17
85 170

In [41]:
list = [1,2,3,4,5,6]
list1 = list.copy()
list1.remove(2)   #both the lists are pointing to same memmory location
print(list1)

[1, 3, 4, 5, 6]

In [47]:
#tuple - immutable
a =(1,2,3,4)
li = list(a)
print(a)

TypeError: ignored

In [ ]:
# set