<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/session_10_AI_and_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas
import pandas as pd
import numpy as np
A = np.array([1,2,3,4,5,6,7])
s = pd.Series(A,index=[100,101,102,103,104,105,106])
print(s)

100    1
101    2
102    3
103    4
104    5
105    6
106    7
dtype: int64

In [ ]:
# create series object from dictionary
D = {'a':12,'b':20,'c':30} # keys become labels
s2 = pd.Series(D)
print(s2)

a    12
b    20
c    30
dtype: int64

In [ ]:
# create a series object from scaler value
s3 = pd.Series(5,index=[100,101,102,103])
print(s3)

100    5
101    5
102    5
103    5
dtype: int64

In [ ]:
# acces the elements
s = pd.Series(A,index=[100,101,102,103,104,105,106])
print(s[:101])  # what is slicing operator

100    1
101    2
102    3
103    4
104    5
105    6
106    7
dtype: int64

In [15]:
# create the dataframe
# from list,dictionary ,Series ,scalar values
list = [['RRR',1300],['KGF2',1250],['BB2',1800]]
df1 = pd.DataFrame(list,columns = ['movie_name','collections'])
print(df1)
print(df1.values)
print(df1.iloc[0:2]) # integer location to acess
print(df1['movie_name'])
A = df1.values    #
print(A.shape)

  movie_name  collections
0        RRR         1300
1       KGF2         1250
2        BB2         1800
[['RRR' 1300]
 ['KGF2' 1250]
 ['BB2' 1800]]
  movie_name  collections
0        RRR         1300
1       KGF2         1250
0     RRR
1    KGF2
2     BB2
Name: movie_name, dtype: object
(3, 2)

In [19]:
# creating from dictionary
dict = {'RRR':1300,'KGF2':1250,'BB2':1800}
df2 = pd.DataFrame(dict,index=[1])
print(df2)
# acess the values
print(df2.iloc[0:])

    RRR  KGF2   BB2
1  1300  1250  1800
    RRR  KGF2   BB2
1  1300  1250  1800

In [23]:
# creating dataframe from dictionary type 2
d1 = {'movie_name':pd.Series(['rr','bb','ok'],index=[0,1,2]),'collections':pd.Series([10,20,30],index=[0,1,2])}
df3 = pd.DataFrame(d1)
print(df3)

  movie_name  collections
0         rr           10
1         bb           20
2         ok           30
0    10
1    20
2    30
Name: collections, dtype: int64

In [24]:
# assigngment 1 create column A and B ,add C = A+B and D = C-A use pd.Series method
d3 = {'class':pd.Series(['first','second',],index =['A','B']),'strength':pd.Series([10,20,],index['A','B']))}

SyntaxError: ignored