<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#python variables
x = 12
y = 3.5
z = "this is google collab"
print(x)
print(y)
print(z)

12
3.5
this is google collab

In [ ]:
# naming convention
a1 = 1234
_name = "msd"
b2101 = 12.6

In [4]:
#data types
# numeric,string ,tuple,dictionary,series and dataframes
a = 12 # integer data type
b = 3.12 # float data type
c = 3+4j # complex data type
print(a,type(a))
print(b,type(b))
print(c,type(c))

12 <class 'int'>
3.12 <class 'float'>
(3+4j) <class 'complex'>

In [7]:
# string data type
str = "this is programming in google colllab"
print(str,type(str))
print(str[1]) # how to print string in the vertical list
print(len(str))

this is programming in google colllab <class 'str'>
h
37

In [16]:
# methods in string
# concatenate the string
str1 = "ntr is one of the character in the RRR movie"
str2 = "ram"
str3 = str1+str2
print(str1+str2)
print(str1*2)# repition of strings
print(str1.find("nt")) # checking for the sub string present in the string or not
print(str1.count("nt")) # counting the string  from entire string
str4 = str1.split() # here it will seperate the large string in to words
print(str4)
# we have studied find ,count ,split,lower ,upper
print(str1.upper()) # convert the all the string charaters  in to  upper case
print(str1.lower()) # convert  the all the string characters in to lower case

ntr is one of the character in the RRR movieram
ntr is one of the character in the RRR movientr is one of the character in the RRR movie
0
1
['ntr', 'is', 'one', 'of', 'the', 'character', 'in', 'the', 'RRR', 'movie']
NTR IS ONE OF THE CHARACTER IN THE RRR MOVIE
ntr is one of the character in the rrr movie

In [30]:
# list data type
# along with it we can also learn conditinal statements and loops
list1 = [10,23,'a','b',123.4,'yummy'] # it can be defined as various type of items belongs to different data types are enclosed in square bracket seperated by comma
print(len(list1))
print("first item=",list1[0])
print("third item = ",list1[2])
# using the for loop in list to prnit all values in a list
for x in list1:
  print(x)
# another way of implementation loop in list by using range function range()
for i in range(0,len(list1)):
  print(list1[i])
# list of all integers
list2 = [12,34,62,75,89]
print(len(list2))
# for loop to print the all integer values in the list
r = 0
for i in range(0,len(list2)):
     r = r+list2[i]
print("sum =",r)

6
first item= 10
third item =  a
10
23
a
b
123.4
yummy
10
23
a
b
123.4
yummy
5
sum = 272

In [31]:
#arithematic operators in python
a = 11
b = 20
c = a+b
d = a-b
e = a*b
f = a/b
g = a%2
h = a//2
print(c,d,e,f,g,h)

31 -9 220 0.55 1 5

In [ ]:
# assigment number 1
# take numbers = 1,20 print even and odd
list1 = range(1,20)
print(list1[8])

for i in range(1,20)
     if (i%2 == 0):
        print("even number"=,i) # even numbers
     else:
        print("odd number=",i)
# assignment number 2
# take numbers = 1,20 print the sum even and odd