<a href="https://colab.research.google.com/github/ganesh12112/ganesh12112/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#creating variables
x = 12
y = "meena"
z = 1.23
p = 345
print("value of x is:" ,x)
print("value of y is :",y)
print("value of z is :",z)
print(p)

value of x is: 12
value of y is : meena
value of z is : 1.23
345

In [2]:
#naming conventions of variables
x123 = 45
_y = 46
_z101 ="xyz"
x_y12 = 46
print(x123)
print(_y)
print(_z101)
print(x_y12)

45
46
xyz
46

In [3]:
# arithematic operations
#program to add/sub/mul/div of 2 numbers
num1 = 20
num2 = 30
n3= num1+num2
n4=num1-num2
n5 = num1*num2
n6 = num1 /num2
print("n3",n3)
print("n4",n4)
print("n5",n5)
print("n6",n6)

n3 50
n4 -10
n5 600
n6 0.6666666666666666

In [8]:
#example problem
z = int(input("enter the value of z:"))
m = 60
c = 50
y = m*2/c
x = y * z/2+100
print("value of y is:",y)
print("value of x:",x)

enter the value of z:70
value of y is: 2.4
value of x: 184.0

In [11]:
#string operation
str = "hello world"
str1 = "I am your interpreter"
print(len(str))
print(str)
print(str1)
print(str[0])
print("print first 8 charcters:",str1[0:8])
print("print the last charcter:",str1[-1])

11
hello world
I am your interpreter
h
print first 8 charcters: I am you
print the last charcter: r

In [16]:
# program to add the numbers in string
str ="12345"
r = 0
for i in range(0,len(str)):
    r = r+eval(str[i])
print("sum of the numbers",r)

sum of the numbers 15

In [26]:
str = "12345"
str1 = str[::-1]
print(str1)
str2= str[1:4]
print(str2[::-1])

54321
432